source/t.yaml

> AWS-gcr-qc-life-science@0.0.1 synth
> cdk synth "QCStack-main"

Description: "(SO8029) CDK for GCR solution: Quantum Computing in HCLS (Notebook)"
Parameters:
  NotebookInstanceType:
    Type: String
    Default: ml.c5.xlarge
    Description: Sagemaker notebook instance type
  GitHubRepo:
    Type: String
    Default: https://github.com/amliuyong/aws-gcr-qc-life-science-public.git
    Description: Public GitHub repository
  AssetParameters1f7e277bd526ebce1983fa1e7a84a5281ec533d9187caaebb773681bbf7bf4c1S3Bucket4842F32D:
    Type: String
    Description: S3 bucket for asset "1f7e277bd526ebce1983fa1e7a84a5281ec533d9187caaebb773681bbf7bf4c1"
  AssetParameters1f7e277bd526ebce1983fa1e7a84a5281ec533d9187caaebb773681bbf7bf4c1S3VersionKeyD0A0B57A:
    Type: String
    Description: S3 key for asset version "1f7e277bd526ebce1983fa1e7a84a5281ec533d9187caaebb773681bbf7bf4c1"
  AssetParameters1f7e277bd526ebce1983fa1e7a84a5281ec533d9187caaebb773681bbf7bf4c1ArtifactHash0128B949:
    Type: String
    Description: Artifact hash for asset "1f7e277bd526ebce1983fa1e7a84a5281ec533d9187caaebb773681bbf7bf4c1"
  AssetParameters347222fd2af9fb52a988141a4588da55867084cfba18d891ecc6239f992ed5b4S3Bucket79CA569E:
    Type: String
    Description: S3 bucket for asset "347222fd2af9fb52a988141a4588da55867084cfba18d891ecc6239f992ed5b4"
  AssetParameters347222fd2af9fb52a988141a4588da55867084cfba18d891ecc6239f992ed5b4S3VersionKey55687F42:
    Type: String
    Description: S3 key for asset version "347222fd2af9fb52a988141a4588da55867084cfba18d891ecc6239f992ed5b4"
  AssetParameters347222fd2af9fb52a988141a4588da55867084cfba18d891ecc6239f992ed5b4ArtifactHash5ED53BA8:
    Type: String
    Description: Artifact hash for asset "347222fd2af9fb52a988141a4588da55867084cfba18d891ecc6239f992ed5b4"
Resources:
  amazonbraketC6E30921:
    Type: AWS::S3::Bucket
    Properties:
      BucketEncryption:
        ServerSideEncryptionConfiguration:
          - ServerSideEncryptionByDefault:
              SSEAlgorithm: AES256
      BucketName:
        Fn::Join:
          - ""
          - - amazon-braket-qcstack-main-
            - Ref: AWS::AccountId
            - "-"
            - Ref: AWS::Region
      Tags:
        - Key: aws-cdk:auto-delete-objects
          Value: "true"
    UpdateReplacePolicy: Delete
    DeletionPolicy: Delete
    Metadata:
      aws:cdk:path: QCStack-main/amazon-braket/Resource
      cfn_nag:
        rules_to_suppress:
          - id: W35
            reason: S3 bucket access logging will be configured manually
  amazonbraketPolicyA997C6D2:
    Type: AWS::S3::BucketPolicy
    Properties:
      Bucket:
        Ref: amazonbraketC6E30921
      PolicyDocument:
        Statement:
          - Action:
              - s3:GetBucket*
              - s3:List*
              - s3:DeleteObject*
            Effect: Allow
            Principal:
              AWS:
                Fn::GetAtt:
                  - CustomS3AutoDeleteObjectsCustomResourceProviderRole3B1BD092
                  - Arn
            Resource:
              - Fn::GetAtt:
                  - amazonbraketC6E30921
                  - Arn
              - Fn::Join:
                  - ""
                  - - Fn::GetAtt:
                        - amazonbraketC6E30921
                        - Arn
                    - /*
        Version: "2012-10-17"
    Metadata:
      aws:cdk:path: QCStack-main/amazon-braket/Policy/Resource
  amazonbraketAutoDeleteObjectsCustomResource58542BE3:
    Type: Custom::S3AutoDeleteObjects
    Properties:
      ServiceToken:
        Fn::GetAtt:
          - CustomS3AutoDeleteObjectsCustomResourceProviderHandler9D90184F
          - Arn
      BucketName:
        Ref: amazonbraketC6E30921
    DependsOn:
      - amazonbraketPolicyA997C6D2
    UpdateReplacePolicy: Delete
    DeletionPolicy: Delete
    Metadata:
      aws:cdk:path: QCStack-main/amazon-braket/AutoDeleteObjectsCustomResource/Default
  CustomS3AutoDeleteObjectsCustomResourceProviderRole3B1BD092:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Action: sts:AssumeRole
            Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
      ManagedPolicyArns:
        - Fn::Sub: arn:${AWS::Partition}:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
    Metadata:
      aws:cdk:path: QCStack-main/Custom::S3AutoDeleteObjectsCustomResourceProvider/Role
  CustomS3AutoDeleteObjectsCustomResourceProviderHandler9D90184F:
    Type: AWS::Lambda::Function
    Properties:
      Code:
        S3Bucket:
          Ref: AssetParameters1f7e277bd526ebce1983fa1e7a84a5281ec533d9187caaebb773681bbf7bf4c1S3Bucket4842F32D
        S3Key:
          Fn::Join:
            - ""
            - - Fn::Select:
                  - 0
                  - Fn::Split:
                      - "||"
                      - Ref: AssetParameters1f7e277bd526ebce1983fa1e7a84a5281ec533d9187caaebb773681bbf7bf4c1S3VersionKeyD0A0B57A
              - Fn::Select:
                  - 1
                  - Fn::Split:
                      - "||"
                      - Ref: AssetParameters1f7e277bd526ebce1983fa1e7a84a5281ec533d9187caaebb773681bbf7bf4c1S3VersionKeyD0A0B57A
      Timeout: 900
      MemorySize: 128
      Handler: __entrypoint__.handler
      Role:
        Fn::GetAtt:
          - CustomS3AutoDeleteObjectsCustomResourceProviderRole3B1BD092
          - Arn
      Runtime: nodejs12.x
      Description:
        Fn::Join:
          - ""
          - - "Lambda function for auto-deleting objects in "
            - Ref: amazonbraketC6E30921
            - " S3 bucket."
    DependsOn:
      - CustomS3AutoDeleteObjectsCustomResourceProviderRole3B1BD092
    Metadata:
      aws:cdk:path: QCStack-main/Custom::S3AutoDeleteObjectsCustomResourceProvider/Handler
      cfn_nag:
        rules_to_suppress:
          - id: W58
            reason: the lambda is auto generated by CDK
          - id: W89
            reason: the lambda is auto generated by CDK
          - id: W92
            reason: the lambda is auto generated by CDK
  gcrqcnotebookrole3D345977:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Statement:
          - Action: sts:AssumeRole
            Effect: Allow
            Principal:
              Service: sagemaker.amazonaws.com
        Version: "2012-10-17"
      ManagedPolicyArns:
        - Fn::Join:
            - ""
            - - "arn:"
              - Ref: AWS::Partition
              - :iam::aws:policy/AmazonBraketFullAccess
    Metadata:
      aws:cdk:path: QCStack-main/gcr-qc-notebook-role/Resource
  gcrqcnotebookroleDefaultPolicyF44D109B:
    Type: AWS::IAM::Policy
    Properties:
      PolicyDocument:
        Statement:
          - Action:
              - s3:GetObject
              - s3:PutObject
              - s3:ListBucket
            Effect: Allow
            Resource:
              - arn:aws:s3:::amazon-braket-*
              - arn:aws:s3:::braketnotebookcdk-*
              - arn:aws:s3:::qcstack*
          - Action:
              - logs:CreateLogStream
              - logs:DescribeLogStreams
              - logs:PutLogEvents
              - logs:CreateLogGroup
            Effect: Allow
            Resource:
              Fn::Join:
                - ""
                - - "arn:aws:logs:*:"
                  - Ref: AWS::AccountId
                  - :log-group:/aws/sagemaker/*
        Version: "2012-10-17"
      PolicyName: gcrqcnotebookroleDefaultPolicyF44D109B
      Roles:
        - Ref: gcrqcnotebookrole3D345977
    Metadata:
      aws:cdk:path: QCStack-main/gcr-qc-notebook-role/DefaultPolicy/Resource
      cfn_nag:
        rules_to_suppress:
          - id: W12
            reason: read only policy
  installbraketsdk:
    Type: AWS::SageMaker::NotebookInstanceLifecycleConfig
    Properties:
      OnStart:
        - Content: IyEvdXNyL2Jpbi9lbnYgYmFzaAoKc3VkbyAtdSBlYzItdXNlciAtaSA8PEVPUwpUTVBESVI9JChta3RlbXAgLWQpCmNkICIkVE1QRElSIgoKYXdzIHMzIGNwIHMzOi8vYnJha2V0bm90ZWJvb2tjZGstbm90ZWJvb2tsY2NzM2J1Y2tldGIzMDg5YjUwLTF3MWVwenZnMWttMWsvbm90ZWJvb2svYnJha2V0LW5vdGVib29rLWxjYy56aXAgYnJha2V0LW5vdGVib29rLWxjYy56aXAKdW56aXAgYnJha2V0LW5vdGVib29rLWxjYy56aXAKLi9pbnN0YWxsLnNoCgpub2h1cCBybSAtZnIgIiRUTVBESVIiICYKRU9TCgpleGl0IDAK
    Metadata:
      aws:cdk:path: QCStack-main/install-braket-sdk
  qcNotebookKey89463021:
    Type: AWS::KMS::Key
    Properties:
      KeyPolicy:
        Statement:
          - Action:
              - kms:Create*
              - kms:Describe*
              - kms:Enable*
              - kms:List*
              - kms:Put*
              - kms:Update*
              - kms:Revoke*
              - kms:Disable*
              - kms:Get*
              - kms:Delete*
              - kms:ScheduleKeyDeletion
              - kms:CancelKeyDeletion
              - kms:GenerateDataKey
              - kms:TagResource
              - kms:UntagResource
            Effect: Allow
            Principal:
              AWS:
                Fn::Join:
                  - ""
                  - - "arn:"
                    - Ref: AWS::Partition
                    - ":iam::"
                    - Ref: AWS::AccountId
                    - :root
            Resource: "*"
        Version: "2012-10-17"
      EnableKeyRotation: true
    UpdateReplacePolicy: Retain
    DeletionPolicy: Retain
    Metadata:
      aws:cdk:path: QCStack-main/qcNotebookKey/Resource
  GCRQCLifeScienceNotebook:
    Type: AWS::SageMaker::NotebookInstance
    Properties:
      InstanceType:
        Ref: NotebookInstanceType
      RoleArn:
        Fn::GetAtt:
          - gcrqcnotebookrole3D345977
          - Arn
      DefaultCodeRepository:
        Ref: GitHubRepo
      KmsKeyId:
        Ref: qcNotebookKey89463021
      LifecycleConfigName:
        Fn::GetAtt:
          - installbraketsdk
          - NotebookInstanceLifecycleConfigName
      RootAccess: Enabled
      VolumeSizeInGB: 50
    Metadata:
      aws:cdk:path: QCStack-main/GCRQCLifeScienceNotebook
  QCLifeScienceBatchexecutionRoleED8BBC4B:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Statement:
          - Action: sts:AssumeRole
            Effect: Allow
            Principal:
              Service: ecs-tasks.amazonaws.com
        Version: "2012-10-17"
      ManagedPolicyArns:
        - Fn::Join:
            - ""
            - - "arn:"
              - Ref: AWS::Partition
              - :iam::aws:policy/AmazonBraketFullAccess
        - Fn::Join:
            - ""
            - - "arn:"
              - Ref: AWS::Partition
              - :iam::aws:policy/AmazonEC2ContainerRegistryReadOnly
    Metadata:
      aws:cdk:path: QCStack-main/QCLifeScienceBatch/executionRole/Resource
  QCLifeScienceBatchexecutionRoleDefaultPolicyAF13BD33:
    Type: AWS::IAM::Policy
    Properties:
      PolicyDocument:
        Statement:
          - Action:
              - s3:GetObject
              - s3:PutObject
              - s3:ListBucket
            Effect: Allow
            Resource:
              - arn:aws:s3:::amazon-braket-*
              - arn:aws:s3:::braketnotebookcdk-*
              - arn:aws:s3:::qcstack*
          - Action:
              - logs:CreateLogStream
              - logs:DescribeLogStreams
              - logs:PutLogEvents
              - logs:CreateLogGroup
            Effect: Allow
            Resource:
              Fn::Join:
                - ""
                - - "arn:aws:logs:*:"
                  - Ref: AWS::AccountId
                  - :log-group:/aws/batch/*
          - Action:
              - braket:GetDevice
              - braket:GetQuantumTask
              - braket:SearchQuantumTasks
              - braket:SearchDevices
              - braket:ListTagsForResource
              - braket:CreateQuantumTask
              - braket:CancelQuantumTask
            Effect: Allow
            Resource: arn:aws:braket:::device/qpu/d-wave/*
        Version: "2012-10-17"
      PolicyName: QCLifeScienceBatchexecutionRoleDefaultPolicyAF13BD33
      Roles:
        - Ref: QCLifeScienceBatchexecutionRoleED8BBC4B
    Metadata:
      aws:cdk:path: QCStack-main/QCLifeScienceBatch/executionRole/DefaultPolicy/Resource
      cfn_nag:
        rules_to_suppress:
          - id: W12
            reason: read only policy
  QCLifeScienceBatchjobRoleD37B841F:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Statement:
          - Action: sts:AssumeRole
            Effect: Allow
            Principal:
              Service: ecs-tasks.amazonaws.com
        Version: "2012-10-17"
      ManagedPolicyArns:
        - Fn::Join:
            - ""
            - - "arn:"
              - Ref: AWS::Partition
              - :iam::aws:policy/AmazonBraketFullAccess
        - Fn::Join:
            - ""
            - - "arn:"
              - Ref: AWS::Partition
              - :iam::aws:policy/AmazonEC2ContainerRegistryReadOnly
    Metadata:
      aws:cdk:path: QCStack-main/QCLifeScienceBatch/jobRole/Resource
  QCLifeScienceBatchjobRoleDefaultPolicyE177BA70:
    Type: AWS::IAM::Policy
    Properties:
      PolicyDocument:
        Statement:
          - Action:
              - s3:GetObject
              - s3:PutObject
              - s3:ListBucket
            Effect: Allow
            Resource:
              - arn:aws:s3:::amazon-braket-*
              - arn:aws:s3:::braketnotebookcdk-*
              - arn:aws:s3:::qcstack*
          - Action:
              - logs:CreateLogStream
              - logs:DescribeLogStreams
              - logs:PutLogEvents
              - logs:CreateLogGroup
            Effect: Allow
            Resource:
              Fn::Join:
                - ""
                - - "arn:aws:logs:*:"
                  - Ref: AWS::AccountId
                  - :log-group:/aws/batch/*
          - Action:
              - braket:GetDevice
              - braket:GetQuantumTask
              - braket:SearchQuantumTasks
              - braket:SearchDevices
              - braket:ListTagsForResource
              - braket:CreateQuantumTask
              - braket:CancelQuantumTask
            Effect: Allow
            Resource: arn:aws:braket:::device/qpu/d-wave/*
          - Action:
              - ecr:BatchCheckLayerAvailability
              - ecr:GetDownloadUrlForLayer
              - ecr:BatchGetImage
            Effect: Allow
            Resource:
              Fn::Join:
                - ""
                - - "arn:"
                  - Ref: AWS::Partition
                  - ":ecr:"
                  - Ref: AWS::Region
                  - ":"
                  - Ref: AWS::AccountId
                  - :repository/aws-cdk/assets
          - Action: ecr:GetAuthorizationToken
            Effect: Allow
            Resource: "*"
        Version: "2012-10-17"
      PolicyName: QCLifeScienceBatchjobRoleDefaultPolicyE177BA70
      Roles:
        - Ref: QCLifeScienceBatchjobRoleD37B841F
    Metadata:
      aws:cdk:path: QCStack-main/QCLifeScienceBatch/jobRole/DefaultPolicy/Resource
      cfn_nag:
        rules_to_suppress:
          - id: W12
            reason: read only policy
  QCLifeScienceBatchVPC4D8915A4:
    Type: AWS::EC2::VPC
    Properties:
      CidrBlock: 10.1.0.0/16
      EnableDnsHostnames: true
      EnableDnsSupport: true
      InstanceTenancy: default
      Tags:
        - Key: Name
          Value: QCStack-main/QCLifeScienceBatch/VPC
    Metadata:
      aws:cdk:path: QCStack-main/QCLifeScienceBatch/VPC/Resource
  QCLifeScienceBatchVPCIngressSubnet1SubnetCB25F94D:
    Type: AWS::EC2::Subnet
    Properties:
      CidrBlock: 10.1.0.0/18
      VpcId:
        Ref: QCLifeScienceBatchVPC4D8915A4
      AvailabilityZone:
        Fn::Select:
          - 0
          - Fn::GetAZs: ""
      MapPublicIpOnLaunch: false
      Tags:
        - Key: aws-cdk:subnet-name
          Value: Ingress
        - Key: aws-cdk:subnet-type
          Value: Public
        - Key: Name
          Value: QCStack-main/QCLifeScienceBatch/VPC/IngressSubnet1
    Metadata:
      aws:cdk:path: QCStack-main/QCLifeScienceBatch/VPC/IngressSubnet1/Subnet
  QCLifeScienceBatchVPCIngressSubnet1RouteTableF1F62843:
    Type: AWS::EC2::RouteTable
    Properties:
      VpcId:
        Ref: QCLifeScienceBatchVPC4D8915A4
      Tags:
        - Key: Name
          Value: QCStack-main/QCLifeScienceBatch/VPC/IngressSubnet1
    Metadata:
      aws:cdk:path: QCStack-main/QCLifeScienceBatch/VPC/IngressSubnet1/RouteTable
  QCLifeScienceBatchVPCIngressSubnet1RouteTableAssociation98443C39:
    Type: AWS::EC2::SubnetRouteTableAssociation
    Properties:
      RouteTableId:
        Ref: QCLifeScienceBatchVPCIngressSubnet1RouteTableF1F62843
      SubnetId:
        Ref: QCLifeScienceBatchVPCIngressSubnet1SubnetCB25F94D
    Metadata:
      aws:cdk:path: QCStack-main/QCLifeScienceBatch/VPC/IngressSubnet1/RouteTableAssociation
  QCLifeScienceBatchVPCIngressSubnet1DefaultRouteF20A211A:
    Type: AWS::EC2::Route
    Properties:
      RouteTableId:
        Ref: QCLifeScienceBatchVPCIngressSubnet1RouteTableF1F62843
      DestinationCidrBlock: 0.0.0.0/0
      GatewayId:
        Ref: QCLifeScienceBatchVPCIGWC1711F33
    DependsOn:
      - QCLifeScienceBatchVPCVPCGW5333859E
    Metadata:
      aws:cdk:path: QCStack-main/QCLifeScienceBatch/VPC/IngressSubnet1/DefaultRoute
  QCLifeScienceBatchVPCIngressSubnet1EIP56780470:
    Type: AWS::EC2::EIP
    Properties:
      Domain: vpc
      Tags:
        - Key: Name
          Value: QCStack-main/QCLifeScienceBatch/VPC/IngressSubnet1
    Metadata:
      aws:cdk:path: QCStack-main/QCLifeScienceBatch/VPC/IngressSubnet1/EIP
  QCLifeScienceBatchVPCIngressSubnet1NATGateway9439BD1B:
    Type: AWS::EC2::NatGateway
    Properties:
      SubnetId:
        Ref: QCLifeScienceBatchVPCIngressSubnet1SubnetCB25F94D
      AllocationId:
        Fn::GetAtt:
          - QCLifeScienceBatchVPCIngressSubnet1EIP56780470
          - AllocationId
      Tags:
        - Key: Name
          Value: QCStack-main/QCLifeScienceBatch/VPC/IngressSubnet1
    Metadata:
      aws:cdk:path: QCStack-main/QCLifeScienceBatch/VPC/IngressSubnet1/NATGateway
  QCLifeScienceBatchVPCIngressSubnet2Subnet353B978C:
    Type: AWS::EC2::Subnet
    Properties:
      CidrBlock: 10.1.64.0/18
      VpcId:
        Ref: QCLifeScienceBatchVPC4D8915A4
      AvailabilityZone:
        Fn::Select:
          - 1
          - Fn::GetAZs: ""
      MapPublicIpOnLaunch: false
      Tags:
        - Key: aws-cdk:subnet-name
          Value: Ingress
        - Key: aws-cdk:subnet-type
          Value: Public
        - Key: Name
          Value: QCStack-main/QCLifeScienceBatch/VPC/IngressSubnet2
    Metadata:
      aws:cdk:path: QCStack-main/QCLifeScienceBatch/VPC/IngressSubnet2/Subnet
  QCLifeScienceBatchVPCIngressSubnet2RouteTable8D79D362:
    Type: AWS::EC2::RouteTable
    Properties:
      VpcId:
        Ref: QCLifeScienceBatchVPC4D8915A4
      Tags:
        - Key: Name
          Value: QCStack-main/QCLifeScienceBatch/VPC/IngressSubnet2
    Metadata:
      aws:cdk:path: QCStack-main/QCLifeScienceBatch/VPC/IngressSubnet2/RouteTable
  QCLifeScienceBatchVPCIngressSubnet2RouteTableAssociation76FDE9CA:
    Type: AWS::EC2::SubnetRouteTableAssociation
    Properties:
      RouteTableId:
        Ref: QCLifeScienceBatchVPCIngressSubnet2RouteTable8D79D362
      SubnetId:
        Ref: QCLifeScienceBatchVPCIngressSubnet2Subnet353B978C
    Metadata:
      aws:cdk:path: QCStack-main/QCLifeScienceBatch/VPC/IngressSubnet2/RouteTableAssociation
  QCLifeScienceBatchVPCIngressSubnet2DefaultRouteA415D92C:
    Type: AWS::EC2::Route
    Properties:
      RouteTableId:
        Ref: QCLifeScienceBatchVPCIngressSubnet2RouteTable8D79D362
      DestinationCidrBlock: 0.0.0.0/0
      GatewayId:
        Ref: QCLifeScienceBatchVPCIGWC1711F33
    DependsOn:
      - QCLifeScienceBatchVPCVPCGW5333859E
    Metadata:
      aws:cdk:path: QCStack-main/QCLifeScienceBatch/VPC/IngressSubnet2/DefaultRoute
  QCLifeScienceBatchVPCIngressSubnet2EIP9387CAC7:
    Type: AWS::EC2::EIP
    Properties:
      Domain: vpc
      Tags:
        - Key: Name
          Value: QCStack-main/QCLifeScienceBatch/VPC/IngressSubnet2
    Metadata:
      aws:cdk:path: QCStack-main/QCLifeScienceBatch/VPC/IngressSubnet2/EIP
  QCLifeScienceBatchVPCIngressSubnet2NATGateway75A3B87B:
    Type: AWS::EC2::NatGateway
    Properties:
      SubnetId:
        Ref: QCLifeScienceBatchVPCIngressSubnet2Subnet353B978C
      AllocationId:
        Fn::GetAtt:
          - QCLifeScienceBatchVPCIngressSubnet2EIP9387CAC7
          - AllocationId
      Tags:
        - Key: Name
          Value: QCStack-main/QCLifeScienceBatch/VPC/IngressSubnet2
    Metadata:
      aws:cdk:path: QCStack-main/QCLifeScienceBatch/VPC/IngressSubnet2/NATGateway
  QCLifeScienceBatchVPCApplicationSubnet1SubnetD1C8A540:
    Type: AWS::EC2::Subnet
    Properties:
      CidrBlock: 10.1.128.0/18
      VpcId:
        Ref: QCLifeScienceBatchVPC4D8915A4
      AvailabilityZone:
        Fn::Select:
          - 0
          - Fn::GetAZs: ""
      MapPublicIpOnLaunch: false
      Tags:
        - Key: aws-cdk:subnet-name
          Value: Application
        - Key: aws-cdk:subnet-type
          Value: Private
        - Key: Name
          Value: QCStack-main/QCLifeScienceBatch/VPC/ApplicationSubnet1
    Metadata:
      aws:cdk:path: QCStack-main/QCLifeScienceBatch/VPC/ApplicationSubnet1/Subnet
  QCLifeScienceBatchVPCApplicationSubnet1RouteTableE924DA0A:
    Type: AWS::EC2::RouteTable
    Properties:
      VpcId:
        Ref: QCLifeScienceBatchVPC4D8915A4
      Tags:
        - Key: Name
          Value: QCStack-main/QCLifeScienceBatch/VPC/ApplicationSubnet1
    Metadata:
      aws:cdk:path: QCStack-main/QCLifeScienceBatch/VPC/ApplicationSubnet1/RouteTable
  QCLifeScienceBatchVPCApplicationSubnet1RouteTableAssociation28836B17:
    Type: AWS::EC2::SubnetRouteTableAssociation
    Properties:
      RouteTableId:
        Ref: QCLifeScienceBatchVPCApplicationSubnet1RouteTableE924DA0A
      SubnetId:
        Ref: QCLifeScienceBatchVPCApplicationSubnet1SubnetD1C8A540
    Metadata:
      aws:cdk:path: QCStack-main/QCLifeScienceBatch/VPC/ApplicationSubnet1/RouteTableAssociation
  QCLifeScienceBatchVPCApplicationSubnet1DefaultRouteEA37441E:
    Type: AWS::EC2::Route
    Properties:
      RouteTableId:
        Ref: QCLifeScienceBatchVPCApplicationSubnet1RouteTableE924DA0A
      DestinationCidrBlock: 0.0.0.0/0
      NatGatewayId:
        Ref: QCLifeScienceBatchVPCIngressSubnet1NATGateway9439BD1B
    Metadata:
      aws:cdk:path: QCStack-main/QCLifeScienceBatch/VPC/ApplicationSubnet1/DefaultRoute
  QCLifeScienceBatchVPCApplicationSubnet2Subnet7FD68472:
    Type: AWS::EC2::Subnet
    Properties:
      CidrBlock: 10.1.192.0/18
      VpcId:
        Ref: QCLifeScienceBatchVPC4D8915A4
      AvailabilityZone:
        Fn::Select:
          - 1
          - Fn::GetAZs: ""
      MapPublicIpOnLaunch: false
      Tags:
        - Key: aws-cdk:subnet-name
          Value: Application
        - Key: aws-cdk:subnet-type
          Value: Private
        - Key: Name
          Value: QCStack-main/QCLifeScienceBatch/VPC/ApplicationSubnet2
    Metadata:
      aws:cdk:path: QCStack-main/QCLifeScienceBatch/VPC/ApplicationSubnet2/Subnet
  QCLifeScienceBatchVPCApplicationSubnet2RouteTable9E596CDF:
    Type: AWS::EC2::RouteTable
    Properties:
      VpcId:
        Ref: QCLifeScienceBatchVPC4D8915A4
      Tags:
        - Key: Name
          Value: QCStack-main/QCLifeScienceBatch/VPC/ApplicationSubnet2
    Metadata:
      aws:cdk:path: QCStack-main/QCLifeScienceBatch/VPC/ApplicationSubnet2/RouteTable
  QCLifeScienceBatchVPCApplicationSubnet2RouteTableAssociation5D88D46E:
    Type: AWS::EC2::SubnetRouteTableAssociation
    Properties:
      RouteTableId:
        Ref: QCLifeScienceBatchVPCApplicationSubnet2RouteTable9E596CDF
      SubnetId:
        Ref: QCLifeScienceBatchVPCApplicationSubnet2Subnet7FD68472
    Metadata:
      aws:cdk:path: QCStack-main/QCLifeScienceBatch/VPC/ApplicationSubnet2/RouteTableAssociation
  QCLifeScienceBatchVPCApplicationSubnet2DefaultRouteD64813D1:
    Type: AWS::EC2::Route
    Properties:
      RouteTableId:
        Ref: QCLifeScienceBatchVPCApplicationSubnet2RouteTable9E596CDF
      DestinationCidrBlock: 0.0.0.0/0
      NatGatewayId:
        Ref: QCLifeScienceBatchVPCIngressSubnet2NATGateway75A3B87B
    Metadata:
      aws:cdk:path: QCStack-main/QCLifeScienceBatch/VPC/ApplicationSubnet2/DefaultRoute
  QCLifeScienceBatchVPCIGWC1711F33:
    Type: AWS::EC2::InternetGateway
    Properties:
      Tags:
        - Key: Name
          Value: QCStack-main/QCLifeScienceBatch/VPC
    Metadata:
      aws:cdk:path: QCStack-main/QCLifeScienceBatch/VPC/IGW
  QCLifeScienceBatchVPCVPCGW5333859E:
    Type: AWS::EC2::VPCGatewayAttachment
    Properties:
      VpcId:
        Ref: QCLifeScienceBatchVPC4D8915A4
      InternetGatewayId:
        Ref: QCLifeScienceBatchVPCIGWC1711F33
    Metadata:
      aws:cdk:path: QCStack-main/QCLifeScienceBatch/VPC/VPCGW
  QCLifeScienceBatchVPClogtoCWIAMRole1579391B:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Statement:
          - Action: sts:AssumeRole
            Effect: Allow
            Principal:
              Service: vpc-flow-logs.amazonaws.com
        Version: "2012-10-17"
      Tags:
        - Key: Name
          Value: QCStack-main/QCLifeScienceBatch/VPC
    Metadata:
      aws:cdk:path: QCStack-main/QCLifeScienceBatch/VPC/logtoCW/IAMRole/Resource
  QCLifeScienceBatchVPClogtoCWIAMRoleDefaultPolicy43E87E7A:
    Type: AWS::IAM::Policy
    Properties:
      PolicyDocument:
        Statement:
          - Action:
              - logs:CreateLogStream
              - logs:PutLogEvents
              - logs:DescribeLogStreams
            Effect: Allow
            Resource:
              Fn::GetAtt:
                - QCLifeScienceBatchvpcFlowlog9DBDA0EB
                - Arn
          - Action: iam:PassRole
            Effect: Allow
            Resource:
              Fn::GetAtt:
                - QCLifeScienceBatchVPClogtoCWIAMRole1579391B
                - Arn
        Version: "2012-10-17"
      PolicyName: QCLifeScienceBatchVPClogtoCWIAMRoleDefaultPolicy43E87E7A
      Roles:
        - Ref: QCLifeScienceBatchVPClogtoCWIAMRole1579391B
    Metadata:
      aws:cdk:path: QCStack-main/QCLifeScienceBatch/VPC/logtoCW/IAMRole/DefaultPolicy/Resource
      cfn_nag:
        rules_to_suppress:
          - id: W12
            reason: read only policy
  QCLifeScienceBatchVPClogtoCWFlowLog20E45417:
    Type: AWS::EC2::FlowLog
    Properties:
      ResourceId:
        Ref: QCLifeScienceBatchVPC4D8915A4
      ResourceType: VPC
      TrafficType: ALL
      DeliverLogsPermissionArn:
        Fn::GetAtt:
          - QCLifeScienceBatchVPClogtoCWIAMRole1579391B
          - Arn
      LogDestinationType: cloud-watch-logs
      LogGroupName:
        Ref: QCLifeScienceBatchvpcFlowlog9DBDA0EB
      Tags:
        - Key: Name
          Value: QCStack-main/QCLifeScienceBatch/VPC
    Metadata:
      aws:cdk:path: QCStack-main/QCLifeScienceBatch/VPC/logtoCW/FlowLog
  QCLifeScienceBatchqcLogKey3511BA4F:
    Type: AWS::KMS::Key
    Properties:
      KeyPolicy:
        Statement:
          - Action:
              - kms:Create*
              - kms:Describe*
              - kms:Enable*
              - kms:List*
              - kms:Put*
              - kms:Update*
              - kms:Revoke*
              - kms:Disable*
              - kms:Get*
              - kms:Delete*
              - kms:ScheduleKeyDeletion
              - kms:CancelKeyDeletion
              - kms:GenerateDataKey
              - kms:TagResource
              - kms:UntagResource
            Effect: Allow
            Principal:
              AWS:
                Fn::Join:
                  - ""
                  - - "arn:"
                    - Ref: AWS::Partition
                    - ":iam::"
                    - Ref: AWS::AccountId
                    - :root
            Resource: "*"
          - Action:
              - kms:Encrypt*
              - kms:ReEncrypt*
              - kms:Decrypt*
              - kms:GenerateDataKey*
              - kms:Describe*
            Condition:
              ArnLike:
                kms:EncryptionContext:aws:logs:arn:
                  Fn::Join:
                    - ""
                    - - "arn:"
                      - Ref: AWS::Partition
                      - ":logs:"
                      - Ref: AWS::Region
                      - ":"
                      - Ref: AWS::AccountId
                      - :log-group:*
            Effect: Allow
            Principal:
              Service:
                Fn::Join:
                  - ""
                  - - logs.
                    - Ref: AWS::Region
                    - "."
                    - Ref: AWS::URLSuffix
            Resource: "*"
        Version: "2012-10-17"
      EnableKeyRotation: true
    UpdateReplacePolicy: Retain
    DeletionPolicy: Retain
    Metadata:
      aws:cdk:path: QCStack-main/QCLifeScienceBatch/qcLogKey/Resource
  QCLifeScienceBatchvpcFlowlog9DBDA0EB:
    Type: AWS::Logs::LogGroup
    Properties:
      KmsKeyId:
        Fn::GetAtt:
          - QCLifeScienceBatchqcLogKey3511BA4F
          - Arn
      RetentionInDays: 731
    UpdateReplacePolicy: Retain
    DeletionPolicy: Retain
    Metadata:
      aws:cdk:path: QCStack-main/QCLifeScienceBatch/vpcFlowlog/Resource
  QCLifeScienceBatchbatchSg4B20AFEC:
    Type: AWS::EC2::SecurityGroup
    Properties:
      GroupDescription: Security Group for QC batch compute environment
      SecurityGroupEgress:
        - CidrIp: 0.0.0.0/0
          Description: from 0.0.0.0/0:80
          FromPort: 80
          IpProtocol: tcp
          ToPort: 80
        - CidrIp: 0.0.0.0/0
          Description: from 0.0.0.0/0:443
          FromPort: 443
          IpProtocol: tcp
          ToPort: 443
      VpcId:
        Ref: QCLifeScienceBatchVPC4D8915A4
    Metadata:
      aws:cdk:path: QCStack-main/QCLifeScienceBatch/batchSg/Resource
      cfn_nag:
        rules_to_suppress:
          - id: W5
            reason: need internet access
  QCLifeScienceBatchBatchComputeEnvEcsInstanceRoleB9F3FC4B:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Statement:
          - Action: sts:AssumeRole
            Effect: Allow
            Principal:
              Service:
                Fn::Join:
                  - ""
                  - - ec2.
                    - Ref: AWS::URLSuffix
        Version: "2012-10-17"
      ManagedPolicyArns:
        - Fn::Join:
            - ""
            - - "arn:"
              - Ref: AWS::Partition
              - :iam::aws:policy/service-role/AmazonEC2ContainerServiceforEC2Role
    DependsOn:
      - QCLifeScienceBatchVPCApplicationSubnet1DefaultRouteEA37441E
      - QCLifeScienceBatchVPCApplicationSubnet1RouteTableE924DA0A
      - QCLifeScienceBatchVPCApplicationSubnet1RouteTableAssociation28836B17
      - QCLifeScienceBatchVPCApplicationSubnet1SubnetD1C8A540
      - QCLifeScienceBatchVPCApplicationSubnet2DefaultRouteD64813D1
      - QCLifeScienceBatchVPCApplicationSubnet2RouteTable9E596CDF
      - QCLifeScienceBatchVPCApplicationSubnet2RouteTableAssociation5D88D46E
      - QCLifeScienceBatchVPCApplicationSubnet2Subnet7FD68472
      - QCLifeScienceBatchVPCIGWC1711F33
      - QCLifeScienceBatchVPCIngressSubnet1DefaultRouteF20A211A
      - QCLifeScienceBatchVPCIngressSubnet1EIP56780470
      - QCLifeScienceBatchVPCIngressSubnet1NATGateway9439BD1B
      - QCLifeScienceBatchVPCIngressSubnet1RouteTableF1F62843
      - QCLifeScienceBatchVPCIngressSubnet1RouteTableAssociation98443C39
      - QCLifeScienceBatchVPCIngressSubnet1SubnetCB25F94D
      - QCLifeScienceBatchVPCIngressSubnet2DefaultRouteA415D92C
      - QCLifeScienceBatchVPCIngressSubnet2EIP9387CAC7
      - QCLifeScienceBatchVPCIngressSubnet2NATGateway75A3B87B
      - QCLifeScienceBatchVPCIngressSubnet2RouteTable8D79D362
      - QCLifeScienceBatchVPCIngressSubnet2RouteTableAssociation76FDE9CA
      - QCLifeScienceBatchVPCIngressSubnet2Subnet353B978C
      - QCLifeScienceBatchVPClogtoCWFlowLog20E45417
      - QCLifeScienceBatchVPClogtoCWIAMRoleDefaultPolicy43E87E7A
      - QCLifeScienceBatchVPClogtoCWIAMRole1579391B
      - QCLifeScienceBatchVPC4D8915A4
      - QCLifeScienceBatchVPCVPCGW5333859E
    Metadata:
      aws:cdk:path: QCStack-main/QCLifeScienceBatch/Batch-Compute-Env/Ecs-Instance-Role/Resource
  QCLifeScienceBatchBatchComputeEnvInstanceProfile4DAAC9FE:
    Type: AWS::IAM::InstanceProfile
    Properties:
      Roles:
        - Ref: QCLifeScienceBatchBatchComputeEnvEcsInstanceRoleB9F3FC4B
    DependsOn:
      - QCLifeScienceBatchVPCApplicationSubnet1DefaultRouteEA37441E
      - QCLifeScienceBatchVPCApplicationSubnet1RouteTableE924DA0A
      - QCLifeScienceBatchVPCApplicationSubnet1RouteTableAssociation28836B17
      - QCLifeScienceBatchVPCApplicationSubnet1SubnetD1C8A540
      - QCLifeScienceBatchVPCApplicationSubnet2DefaultRouteD64813D1
      - QCLifeScienceBatchVPCApplicationSubnet2RouteTable9E596CDF
      - QCLifeScienceBatchVPCApplicationSubnet2RouteTableAssociation5D88D46E
      - QCLifeScienceBatchVPCApplicationSubnet2Subnet7FD68472
      - QCLifeScienceBatchVPCIGWC1711F33
      - QCLifeScienceBatchVPCIngressSubnet1DefaultRouteF20A211A
      - QCLifeScienceBatchVPCIngressSubnet1EIP56780470
      - QCLifeScienceBatchVPCIngressSubnet1NATGateway9439BD1B
      - QCLifeScienceBatchVPCIngressSubnet1RouteTableF1F62843
      - QCLifeScienceBatchVPCIngressSubnet1RouteTableAssociation98443C39
      - QCLifeScienceBatchVPCIngressSubnet1SubnetCB25F94D
      - QCLifeScienceBatchVPCIngressSubnet2DefaultRouteA415D92C
      - QCLifeScienceBatchVPCIngressSubnet2EIP9387CAC7
      - QCLifeScienceBatchVPCIngressSubnet2NATGateway75A3B87B
      - QCLifeScienceBatchVPCIngressSubnet2RouteTable8D79D362
      - QCLifeScienceBatchVPCIngressSubnet2RouteTableAssociation76FDE9CA
      - QCLifeScienceBatchVPCIngressSubnet2Subnet353B978C
      - QCLifeScienceBatchVPClogtoCWFlowLog20E45417
      - QCLifeScienceBatchVPClogtoCWIAMRoleDefaultPolicy43E87E7A
      - QCLifeScienceBatchVPClogtoCWIAMRole1579391B
      - QCLifeScienceBatchVPC4D8915A4
      - QCLifeScienceBatchVPCVPCGW5333859E
    Metadata:
      aws:cdk:path: QCStack-main/QCLifeScienceBatch/Batch-Compute-Env/Instance-Profile
  QCLifeScienceBatchBatchComputeEnvResourceServiceInstanceRoleF9577534:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Statement:
          - Action: sts:AssumeRole
            Effect: Allow
            Principal:
              Service: batch.amazonaws.com
        Version: "2012-10-17"
      ManagedPolicyArns:
        - Fn::Join:
            - ""
            - - "arn:"
              - Ref: AWS::Partition
              - :iam::aws:policy/service-role/AWSBatchServiceRole
    DependsOn:
      - QCLifeScienceBatchVPCApplicationSubnet1DefaultRouteEA37441E
      - QCLifeScienceBatchVPCApplicationSubnet1RouteTableE924DA0A
      - QCLifeScienceBatchVPCApplicationSubnet1RouteTableAssociation28836B17
      - QCLifeScienceBatchVPCApplicationSubnet1SubnetD1C8A540
      - QCLifeScienceBatchVPCApplicationSubnet2DefaultRouteD64813D1
      - QCLifeScienceBatchVPCApplicationSubnet2RouteTable9E596CDF
      - QCLifeScienceBatchVPCApplicationSubnet2RouteTableAssociation5D88D46E
      - QCLifeScienceBatchVPCApplicationSubnet2Subnet7FD68472
      - QCLifeScienceBatchVPCIGWC1711F33
      - QCLifeScienceBatchVPCIngressSubnet1DefaultRouteF20A211A
      - QCLifeScienceBatchVPCIngressSubnet1EIP56780470
      - QCLifeScienceBatchVPCIngressSubnet1NATGateway9439BD1B
      - QCLifeScienceBatchVPCIngressSubnet1RouteTableF1F62843
      - QCLifeScienceBatchVPCIngressSubnet1RouteTableAssociation98443C39
      - QCLifeScienceBatchVPCIngressSubnet1SubnetCB25F94D
      - QCLifeScienceBatchVPCIngressSubnet2DefaultRouteA415D92C
      - QCLifeScienceBatchVPCIngressSubnet2EIP9387CAC7
      - QCLifeScienceBatchVPCIngressSubnet2NATGateway75A3B87B
      - QCLifeScienceBatchVPCIngressSubnet2RouteTable8D79D362
      - QCLifeScienceBatchVPCIngressSubnet2RouteTableAssociation76FDE9CA
      - QCLifeScienceBatchVPCIngressSubnet2Subnet353B978C
      - QCLifeScienceBatchVPClogtoCWFlowLog20E45417
      - QCLifeScienceBatchVPClogtoCWIAMRoleDefaultPolicy43E87E7A
      - QCLifeScienceBatchVPClogtoCWIAMRole1579391B
      - QCLifeScienceBatchVPC4D8915A4
      - QCLifeScienceBatchVPCVPCGW5333859E
    Metadata:
      aws:cdk:path: QCStack-main/QCLifeScienceBatch/Batch-Compute-Env/Resource-Service-Instance-Role/Resource
  QCLifeScienceBatchBatchComputeEnv5E7D2083:
    Type: AWS::Batch::ComputeEnvironment
    Properties:
      Type: MANAGED
      ComputeResources:
        AllocationStrategy: BEST_FIT
        InstanceRole:
          Fn::GetAtt:
            - QCLifeScienceBatchBatchComputeEnvInstanceProfile4DAAC9FE
            - Arn
        InstanceTypes:
          - c5.large
          - c5.xlarge
          - c5.2xlarge
          - c5.4xlarge
        MaxvCpus: 256
        MinvCpus: 0
        SecurityGroupIds:
          - Fn::GetAtt:
              - QCLifeScienceBatchbatchSg4B20AFEC
              - GroupId
        Subnets:
          - Ref: QCLifeScienceBatchVPCApplicationSubnet1SubnetD1C8A540
          - Ref: QCLifeScienceBatchVPCApplicationSubnet2Subnet7FD68472
        Type: EC2
      ServiceRole:
        Fn::GetAtt:
          - QCLifeScienceBatchBatchComputeEnvResourceServiceInstanceRoleF9577534
          - Arn
      State: ENABLED
    DependsOn:
      - QCLifeScienceBatchVPCApplicationSubnet1DefaultRouteEA37441E
      - QCLifeScienceBatchVPCApplicationSubnet1RouteTableE924DA0A
      - QCLifeScienceBatchVPCApplicationSubnet1RouteTableAssociation28836B17
      - QCLifeScienceBatchVPCApplicationSubnet1SubnetD1C8A540
      - QCLifeScienceBatchVPCApplicationSubnet2DefaultRouteD64813D1
      - QCLifeScienceBatchVPCApplicationSubnet2RouteTable9E596CDF
      - QCLifeScienceBatchVPCApplicationSubnet2RouteTableAssociation5D88D46E
      - QCLifeScienceBatchVPCApplicationSubnet2Subnet7FD68472
      - QCLifeScienceBatchVPCIGWC1711F33
      - QCLifeScienceBatchVPCIngressSubnet1DefaultRouteF20A211A
      - QCLifeScienceBatchVPCIngressSubnet1EIP56780470
      - QCLifeScienceBatchVPCIngressSubnet1NATGateway9439BD1B
      - QCLifeScienceBatchVPCIngressSubnet1RouteTableF1F62843
      - QCLifeScienceBatchVPCIngressSubnet1RouteTableAssociation98443C39
      - QCLifeScienceBatchVPCIngressSubnet1SubnetCB25F94D
      - QCLifeScienceBatchVPCIngressSubnet2DefaultRouteA415D92C
      - QCLifeScienceBatchVPCIngressSubnet2EIP9387CAC7
      - QCLifeScienceBatchVPCIngressSubnet2NATGateway75A3B87B
      - QCLifeScienceBatchVPCIngressSubnet2RouteTable8D79D362
      - QCLifeScienceBatchVPCIngressSubnet2RouteTableAssociation76FDE9CA
      - QCLifeScienceBatchVPCIngressSubnet2Subnet353B978C
      - QCLifeScienceBatchVPClogtoCWFlowLog20E45417
      - QCLifeScienceBatchVPClogtoCWIAMRoleDefaultPolicy43E87E7A
      - QCLifeScienceBatchVPClogtoCWIAMRole1579391B
      - QCLifeScienceBatchVPC4D8915A4
      - QCLifeScienceBatchVPCVPCGW5333859E
    Metadata:
      aws:cdk:path: QCStack-main/QCLifeScienceBatch/Batch-Compute-Env/Resource
  QCLifeScienceBatchJobQueueADBFEFBD:
    Type: AWS::Batch::JobQueue
    Properties:
      ComputeEnvironmentOrder:
        - ComputeEnvironment:
            Ref: QCLifeScienceBatchBatchComputeEnv5E7D2083
          Order: 1
      Priority: 1
      State: ENABLED
    Metadata:
      aws:cdk:path: QCStack-main/QCLifeScienceBatch/JobQueue/Resource
  QCLifeScienceBatchQCJobvCpus2Mem2G8880109B:
    Type: AWS::Batch::JobDefinition
    Properties:
      Type: container
      ContainerProperties:
        Command:
          - --M
          - "1"
          - --D
          - "4"
          - --device-arn
          - arn:aws:braket:::device/qpu/d-wave/Advantage_system1
          - --aws-region
          - Ref: AWS::Region
          - --instance-type
          - vCpus2_Mem_2G
          - --s3-bucket
          - Ref: amazonbraketC6E30921
        ExecutionRoleArn:
          Fn::GetAtt:
            - QCLifeScienceBatchexecutionRoleED8BBC4B
            - Arn
        Image:
          Fn::Join:
            - ""
            - - Ref: AWS::AccountId
              - .dkr.ecr.
              - Ref: AWS::Region
              - "."
              - Ref: AWS::URLSuffix
              - /aws-cdk/assets:0332689f67e912e60947723874fa88ad56293538b09868248ea178b755a384eb
        JobRoleArn:
          Fn::GetAtt:
            - QCLifeScienceBatchjobRoleD37B841F
            - Arn
        Privileged: false
        ReadonlyRootFilesystem: false
        ResourceRequirements:
          - Type: VCPU
            Value: "2"
          - Type: MEMORY
            Value: "2048"
      PlatformCapabilities:
        - EC2
      RetryStrategy:
        Attempts: 1
      Timeout:
        AttemptDurationSeconds: 7200
    Metadata:
      aws:cdk:path: QCStack-main/QCLifeScienceBatch/QCJob_vCpus2_Mem2G/Resource
  QCLifeScienceBatchQCJobvCpus4Mem4GA78E6C89:
    Type: AWS::Batch::JobDefinition
    Properties:
      Type: container
      ContainerProperties:
        Command:
          - --M
          - "1"
          - --D
          - "4"
          - --device-arn
          - arn:aws:braket:::device/qpu/d-wave/Advantage_system1
          - --aws-region
          - Ref: AWS::Region
          - --instance-type
          - vCpus4_Mem_4G
          - --s3-bucket
          - Ref: amazonbraketC6E30921
        ExecutionRoleArn:
          Fn::GetAtt:
            - QCLifeScienceBatchexecutionRoleED8BBC4B
            - Arn
        Image:
          Fn::Join:
            - ""
            - - Ref: AWS::AccountId
              - .dkr.ecr.
              - Ref: AWS::Region
              - "."
              - Ref: AWS::URLSuffix
              - /aws-cdk/assets:0332689f67e912e60947723874fa88ad56293538b09868248ea178b755a384eb
        JobRoleArn:
          Fn::GetAtt:
            - QCLifeScienceBatchjobRoleD37B841F
            - Arn
        Privileged: false
        ReadonlyRootFilesystem: false
        ResourceRequirements:
          - Type: VCPU
            Value: "4"
          - Type: MEMORY
            Value: "4096"
      PlatformCapabilities:
        - EC2
      RetryStrategy:
        Attempts: 1
      Timeout:
        AttemptDurationSeconds: 7200
    Metadata:
      aws:cdk:path: QCStack-main/QCLifeScienceBatch/QCJob_vCpus4_Mem4G/Resource
  QCLifeScienceBatchQCJobvCpus8Mem8GF9360C83:
    Type: AWS::Batch::JobDefinition
    Properties:
      Type: container
      ContainerProperties:
        Command:
          - --M
          - "1"
          - --D
          - "4"
          - --device-arn
          - arn:aws:braket:::device/qpu/d-wave/Advantage_system1
          - --aws-region
          - Ref: AWS::Region
          - --instance-type
          - vCpus8_Mem_8G
          - --s3-bucket
          - Ref: amazonbraketC6E30921
        ExecutionRoleArn:
          Fn::GetAtt:
            - QCLifeScienceBatchexecutionRoleED8BBC4B
            - Arn
        Image:
          Fn::Join:
            - ""
            - - Ref: AWS::AccountId
              - .dkr.ecr.
              - Ref: AWS::Region
              - "."
              - Ref: AWS::URLSuffix
              - /aws-cdk/assets:0332689f67e912e60947723874fa88ad56293538b09868248ea178b755a384eb
        JobRoleArn:
          Fn::GetAtt:
            - QCLifeScienceBatchjobRoleD37B841F
            - Arn
        Privileged: false
        ReadonlyRootFilesystem: false
        ResourceRequirements:
          - Type: VCPU
            Value: "8"
          - Type: MEMORY
            Value: "8192"
      PlatformCapabilities:
        - EC2
      RetryStrategy:
        Attempts: 1
      Timeout:
        AttemptDurationSeconds: 7200
    Metadata:
      aws:cdk:path: QCStack-main/QCLifeScienceBatch/QCJob_vCpus8_Mem8G/Resource
  QCLifeScienceBatchQCJobvCpus16Mem16G08B1D59C:
    Type: AWS::Batch::JobDefinition
    Properties:
      Type: container
      ContainerProperties:
        Command:
          - --M
          - "1"
          - --D
          - "4"
          - --device-arn
          - arn:aws:braket:::device/qpu/d-wave/Advantage_system1
          - --aws-region
          - Ref: AWS::Region
          - --instance-type
          - vCpus16_Mem_16G
          - --s3-bucket
          - Ref: amazonbraketC6E30921
        ExecutionRoleArn:
          Fn::GetAtt:
            - QCLifeScienceBatchexecutionRoleED8BBC4B
            - Arn
        Image:
          Fn::Join:
            - ""
            - - Ref: AWS::AccountId
              - .dkr.ecr.
              - Ref: AWS::Region
              - "."
              - Ref: AWS::URLSuffix
              - /aws-cdk/assets:0332689f67e912e60947723874fa88ad56293538b09868248ea178b755a384eb
        JobRoleArn:
          Fn::GetAtt:
            - QCLifeScienceBatchjobRoleD37B841F
            - Arn
        Privileged: false
        ReadonlyRootFilesystem: false
        ResourceRequirements:
          - Type: VCPU
            Value: "16"
          - Type: MEMORY
            Value: "16384"
      PlatformCapabilities:
        - EC2
      RetryStrategy:
        Attempts: 1
      Timeout:
        AttemptDurationSeconds: 7200
    Metadata:
      aws:cdk:path: QCStack-main/QCLifeScienceBatch/QCJob_vCpus16_Mem16G/Resource
  QCLifeScienceBatchAggResultLambdaRole19A37E62:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Statement:
          - Action: sts:AssumeRole
            Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
        Version: "2012-10-17"
      ManagedPolicyArns:
        - Fn::Join:
            - ""
            - - "arn:"
              - Ref: AWS::Partition
              - :iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
        - Fn::Join:
            - ""
            - - "arn:"
              - Ref: AWS::Partition
              - :iam::aws:policy/AmazonAthenaFullAccess
    Metadata:
      aws:cdk:path: QCStack-main/QCLifeScienceBatch/AggResultLambdaRole/Resource
  QCLifeScienceBatchAggResultLambdaRoleDefaultPolicy9CE41939:
    Type: AWS::IAM::Policy
    Properties:
      PolicyDocument:
        Statement:
          - Action:
              - s3:GetObject
              - s3:PutObject
              - s3:ListBucket
            Effect: Allow
            Resource:
              - arn:aws:s3:::amazon-braket-*
              - arn:aws:s3:::braketnotebookcdk-*
              - arn:aws:s3:::qcstack*
          - Action:
              - ec2:AttachNetworkInterface
              - ec2:CreateNetworkInterface
              - ec2:CreateNetworkInterfacePermission
              - ec2:DeleteNetworkInterface
              - ec2:DeleteNetworkInterfacePermission
              - ec2:DescribeDhcpOptions
              - ec2:DescribeNetworkInterfaces
              - ec2:DescribeNetworkInterfacePermissions
              - ec2:DescribeSubnets
              - ec2:DescribeVpcs
              - ec2:DescribeInstances
            Effect: Allow
            Resource: "*"
        Version: "2012-10-17"
      PolicyName: QCLifeScienceBatchAggResultLambdaRoleDefaultPolicy9CE41939
      Roles:
        - Ref: QCLifeScienceBatchAggResultLambdaRole19A37E62
    Metadata:
      aws:cdk:path: QCStack-main/QCLifeScienceBatch/AggResultLambdaRole/DefaultPolicy/Resource
      cfn_nag:
        rules_to_suppress:
          - id: W12
            reason: read only policy
  QCLifeScienceBatchlambdaSg41094361:
    Type: AWS::EC2::SecurityGroup
    Properties:
      GroupDescription: Security Group for lambda
      SecurityGroupEgress:
        - CidrIp: 0.0.0.0/0
          Description: from 0.0.0.0/0:80
          FromPort: 80
          IpProtocol: tcp
          ToPort: 80
        - CidrIp: 0.0.0.0/0
          Description: from 0.0.0.0/0:443
          FromPort: 443
          IpProtocol: tcp
          ToPort: 443
      VpcId:
        Ref: QCLifeScienceBatchVPC4D8915A4
    Metadata:
      aws:cdk:path: QCStack-main/QCLifeScienceBatch/lambdaSg/Resource
      cfn_nag:
        rules_to_suppress:
          - id: W5
            reason: need internet access
  QCLifeScienceBatchAggResultLambda344DF202:
    Type: AWS::Lambda::Function
    Properties:
      Code:
        S3Bucket:
          Ref: AssetParameters347222fd2af9fb52a988141a4588da55867084cfba18d891ecc6239f992ed5b4S3Bucket79CA569E
        S3Key:
          Fn::Join:
            - ""
            - - Fn::Select:
                  - 0
                  - Fn::Split:
                      - "||"
                      - Ref: AssetParameters347222fd2af9fb52a988141a4588da55867084cfba18d891ecc6239f992ed5b4S3VersionKey55687F42
              - Fn::Select:
                  - 1
                  - Fn::Split:
                      - "||"
                      - Ref: AssetParameters347222fd2af9fb52a988141a4588da55867084cfba18d891ecc6239f992ed5b4S3VersionKey55687F42
      Role:
        Fn::GetAtt:
          - QCLifeScienceBatchAggResultLambdaRole19A37E62
          - Arn
      Environment:
        Variables:
          BUCKET:
            Ref: amazonbraketC6E30921
      Handler: index.handler
      MemorySize: 512
      ReservedConcurrentExecutions: 10
      Runtime: nodejs12.x
      Timeout: 120
      VpcConfig:
        SecurityGroupIds:
          - Fn::GetAtt:
              - QCLifeScienceBatchlambdaSg41094361
              - GroupId
        SubnetIds:
          - Ref: QCLifeScienceBatchVPCApplicationSubnet1SubnetD1C8A540
          - Ref: QCLifeScienceBatchVPCApplicationSubnet2Subnet7FD68472
    DependsOn:
      - QCLifeScienceBatchAggResultLambdaRoleDefaultPolicy9CE41939
      - QCLifeScienceBatchAggResultLambdaRole19A37E62
    Metadata:
      aws:cdk:path: QCStack-main/QCLifeScienceBatch/AggResultLambda/Resource
      aws:asset:path: asset.347222fd2af9fb52a988141a4588da55867084cfba18d891ecc6239f992ed5b4
      aws:asset:property: Code
      cfn_nag:
        rules_to_suppress:
          - id: W58
            reason: the lambda is auto generated by CDK
          - id: W89
            reason: the lambda is auto generated by CDK
          - id: W92
            reason: the lambda is auto generated by CDK
  QCLifeScienceBatchQCBatchStateMachineRole3862921F:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Statement:
          - Action: sts:AssumeRole
            Effect: Allow
            Principal:
              Service:
                Fn::Join:
                  - ""
                  - - states.
                    - Ref: AWS::Region
                    - .amazonaws.com
        Version: "2012-10-17"
    Metadata:
      aws:cdk:path: QCStack-main/QCLifeScienceBatch/QCBatchStateMachine/Role/Resource
  QCLifeScienceBatchQCBatchStateMachineRoleDefaultPolicy089B9946:
    Type: AWS::IAM::Policy
    Properties:
      PolicyDocument:
        Statement:
          - Action: lambda:InvokeFunction
            Effect: Allow
            Resource:
              Fn::GetAtt:
                - QCLifeScienceBatchAggResultLambda344DF202
                - Arn
          - Action: batch:SubmitJob
            Effect: Allow
            Resource:
              - Fn::Join:
                  - ""
                  - - "arn:"
                    - Ref: AWS::Partition
                    - ":batch:"
                    - Ref: AWS::Region
                    - ":"
                    - Ref: AWS::AccountId
                    - :job-definition/*
              - Ref: QCLifeScienceBatchJobQueueADBFEFBD
          - Action:
              - events:PutTargets
              - events:PutRule
              - events:DescribeRule
            Effect: Allow
            Resource:
              Fn::Join:
                - ""
                - - "arn:"
                  - Ref: AWS::Partition
                  - ":events:"
                  - Ref: AWS::Region
                  - ":"
                  - Ref: AWS::AccountId
                  - :rule/StepFunctionsGetEventsForBatchJobsRule
        Version: "2012-10-17"
      PolicyName: QCLifeScienceBatchQCBatchStateMachineRoleDefaultPolicy089B9946
      Roles:
        - Ref: QCLifeScienceBatchQCBatchStateMachineRole3862921F
    Metadata:
      aws:cdk:path: QCStack-main/QCLifeScienceBatch/QCBatchStateMachine/Role/DefaultPolicy/Resource
      cfn_nag:
        rules_to_suppress:
          - id: W12
            reason: read only policy
  QCLifeScienceBatchQCBatchStateMachineBC193BA3:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      RoleArn:
        Fn::GetAtt:
          - QCLifeScienceBatchQCBatchStateMachineRole3862921F
          - Arn
      DefinitionString:
        Fn::Join:
          - ""
          - - '{"StartAt":"QCBatchParallel","States":{"QCBatchParallel":{"Type":"Parallel","Next":"Aggregate Result","Branches":[{"StartAt":"M1-D4-DW_2000Q_6-vCpus2_Mem_2G","States":{"M1-D4-DW_2000Q_6-vCpus2_Mem_2G":{"End":true,"Type":"Task","Resource":"arn:'
            - Ref: AWS::Partition
            - :states:::batch:submitJob.sync","Parameters":{"JobDefinition":"
            - Ref: QCLifeScienceBatchQCJobvCpus2Mem2G8880109B
            - '","JobName":"M1-D4-DW_2000Q_6-vCpus2_Mem_2G","JobQueue":"'
            - Ref: QCLifeScienceBatchJobQueueADBFEFBD
            - '","ContainerOverrides":{"Command":["--M","1","--D","4","--device-arn","arn:aws:braket:::device/qpu/d-wave/DW_2000Q_6","--aws-region","'
            - Ref: AWS::Region
            - '","--instance-type","vCpus2_Mem_2G","--s3-bucket","'
            - Ref: amazonbraketC6E30921
            - '"]}}}}},{"StartAt":"M1-D4-DW_2000Q_6-vCpus4_Mem_4G","States":{"M1-D4-DW_2000Q_6-vCpus4_Mem_4G":{"End":true,"Type":"Task","Resource":"arn:'
            - Ref: AWS::Partition
            - :states:::batch:submitJob.sync","Parameters":{"JobDefinition":"
            - Ref: QCLifeScienceBatchQCJobvCpus4Mem4GA78E6C89
            - '","JobName":"M1-D4-DW_2000Q_6-vCpus4_Mem_4G","JobQueue":"'
            - Ref: QCLifeScienceBatchJobQueueADBFEFBD
            - '","ContainerOverrides":{"Command":["--M","1","--D","4","--device-arn","arn:aws:braket:::device/qpu/d-wave/DW_2000Q_6","--aws-region","'
            - Ref: AWS::Region
            - '","--instance-type","vCpus4_Mem_4G","--s3-bucket","'
            - Ref: amazonbraketC6E30921
            - '"]}}}}},{"StartAt":"M1-D4-DW_2000Q_6-vCpus8_Mem_8G","States":{"M1-D4-DW_2000Q_6-vCpus8_Mem_8G":{"End":true,"Type":"Task","Resource":"arn:'
            - Ref: AWS::Partition
            - :states:::batch:submitJob.sync","Parameters":{"JobDefinition":"
            - Ref: QCLifeScienceBatchQCJobvCpus8Mem8GF9360C83
            - '","JobName":"M1-D4-DW_2000Q_6-vCpus8_Mem_8G","JobQueue":"'
            - Ref: QCLifeScienceBatchJobQueueADBFEFBD
            - '","ContainerOverrides":{"Command":["--M","1","--D","4","--device-arn","arn:aws:braket:::device/qpu/d-wave/DW_2000Q_6","--aws-region","'
            - Ref: AWS::Region
            - '","--instance-type","vCpus8_Mem_8G","--s3-bucket","'
            - Ref: amazonbraketC6E30921
            - '"]}}}}},{"StartAt":"M1-D4-DW_2000Q_6-vCpus16_Mem_16G","States":{"M1-D4-DW_2000Q_6-vCpus16_Mem_16G":{"End":true,"Type":"Task","Resource":"arn:'
            - Ref: AWS::Partition
            - :states:::batch:submitJob.sync","Parameters":{"JobDefinition":"
            - Ref: QCLifeScienceBatchQCJobvCpus16Mem16G08B1D59C
            - '","JobName":"M1-D4-DW_2000Q_6-vCpus16_Mem_16G","JobQueue":"'
            - Ref: QCLifeScienceBatchJobQueueADBFEFBD
            - '","ContainerOverrides":{"Command":["--M","1","--D","4","--device-arn","arn:aws:braket:::device/qpu/d-wave/DW_2000Q_6","--aws-region","'
            - Ref: AWS::Region
            - '","--instance-type","vCpus16_Mem_16G","--s3-bucket","'
            - Ref: amazonbraketC6E30921
            - '"]}}}}},{"StartAt":"M1-D4-Advantage_system1-vCpus2_Mem_2G","States":{"M1-D4-Advantage_system1-vCpus2_Mem_2G":{"End":true,"Type":"Task","Resource":"arn:'
            - Ref: AWS::Partition
            - :states:::batch:submitJob.sync","Parameters":{"JobDefinition":"
            - Ref: QCLifeScienceBatchQCJobvCpus2Mem2G8880109B
            - '","JobName":"M1-D4-Advantage_system1-vCpus2_Mem_2G","JobQueue":"'
            - Ref: QCLifeScienceBatchJobQueueADBFEFBD
            - '","ContainerOverrides":{"Command":["--M","1","--D","4","--device-arn","arn:aws:braket:::device/qpu/d-wave/Advantage_system1","--aws-region","'
            - Ref: AWS::Region
            - '","--instance-type","vCpus2_Mem_2G","--s3-bucket","'
            - Ref: amazonbraketC6E30921
            - '"]}}}}},{"StartAt":"M1-D4-Advantage_system1-vCpus4_Mem_4G","States":{"M1-D4-Advantage_system1-vCpus4_Mem_4G":{"End":true,"Type":"Task","Resource":"arn:'
            - Ref: AWS::Partition
            - :states:::batch:submitJob.sync","Parameters":{"JobDefinition":"
            - Ref: QCLifeScienceBatchQCJobvCpus4Mem4GA78E6C89
            - '","JobName":"M1-D4-Advantage_system1-vCpus4_Mem_4G","JobQueue":"'
            - Ref: QCLifeScienceBatchJobQueueADBFEFBD
            - '","ContainerOverrides":{"Command":["--M","1","--D","4","--device-arn","arn:aws:braket:::device/qpu/d-wave/Advantage_system1","--aws-region","'
            - Ref: AWS::Region
            - '","--instance-type","vCpus4_Mem_4G","--s3-bucket","'
            - Ref: amazonbraketC6E30921
            - '"]}}}}},{"StartAt":"M1-D4-Advantage_system1-vCpus8_Mem_8G","States":{"M1-D4-Advantage_system1-vCpus8_Mem_8G":{"End":true,"Type":"Task","Resource":"arn:'
            - Ref: AWS::Partition
            - :states:::batch:submitJob.sync","Parameters":{"JobDefinition":"
            - Ref: QCLifeScienceBatchQCJobvCpus8Mem8GF9360C83
            - '","JobName":"M1-D4-Advantage_system1-vCpus8_Mem_8G","JobQueue":"'
            - Ref: QCLifeScienceBatchJobQueueADBFEFBD
            - '","ContainerOverrides":{"Command":["--M","1","--D","4","--device-arn","arn:aws:braket:::device/qpu/d-wave/Advantage_system1","--aws-region","'
            - Ref: AWS::Region
            - '","--instance-type","vCpus8_Mem_8G","--s3-bucket","'
            - Ref: amazonbraketC6E30921
            - '"]}}}}},{"StartAt":"M1-D4-Advantage_system1-vCpus16_Mem_16G","States":{"M1-D4-Advantage_system1-vCpus16_Mem_16G":{"End":true,"Type":"Task","Resource":"arn:'
            - Ref: AWS::Partition
            - :states:::batch:submitJob.sync","Parameters":{"JobDefinition":"
            - Ref: QCLifeScienceBatchQCJobvCpus16Mem16G08B1D59C
            - '","JobName":"M1-D4-Advantage_system1-vCpus16_Mem_16G","JobQueue":"'
            - Ref: QCLifeScienceBatchJobQueueADBFEFBD
            - '","ContainerOverrides":{"Command":["--M","1","--D","4","--device-arn","arn:aws:braket:::device/qpu/d-wave/Advantage_system1","--aws-region","'
            - Ref: AWS::Region
            - '","--instance-type","vCpus16_Mem_16G","--s3-bucket","'
            - Ref: amazonbraketC6E30921
            - '"]}}}}},{"StartAt":"M1-D4-Advantage_system4-vCpus2_Mem_2G","States":{"M1-D4-Advantage_system4-vCpus2_Mem_2G":{"End":true,"Type":"Task","Resource":"arn:'
            - Ref: AWS::Partition
            - :states:::batch:submitJob.sync","Parameters":{"JobDefinition":"
            - Ref: QCLifeScienceBatchQCJobvCpus2Mem2G8880109B
            - '","JobName":"M1-D4-Advantage_system4-vCpus2_Mem_2G","JobQueue":"'
            - Ref: QCLifeScienceBatchJobQueueADBFEFBD
            - '","ContainerOverrides":{"Command":["--M","1","--D","4","--device-arn","arn:aws:braket:::device/qpu/d-wave/Advantage_system4","--aws-region","'
            - Ref: AWS::Region
            - '","--instance-type","vCpus2_Mem_2G","--s3-bucket","'
            - Ref: amazonbraketC6E30921
            - '"]}}}}},{"StartAt":"M1-D4-Advantage_system4-vCpus4_Mem_4G","States":{"M1-D4-Advantage_system4-vCpus4_Mem_4G":{"End":true,"Type":"Task","Resource":"arn:'
            - Ref: AWS::Partition
            - :states:::batch:submitJob.sync","Parameters":{"JobDefinition":"
            - Ref: QCLifeScienceBatchQCJobvCpus4Mem4GA78E6C89
            - '","JobName":"M1-D4-Advantage_system4-vCpus4_Mem_4G","JobQueue":"'
            - Ref: QCLifeScienceBatchJobQueueADBFEFBD
            - '","ContainerOverrides":{"Command":["--M","1","--D","4","--device-arn","arn:aws:braket:::device/qpu/d-wave/Advantage_system4","--aws-region","'
            - Ref: AWS::Region
            - '","--instance-type","vCpus4_Mem_4G","--s3-bucket","'
            - Ref: amazonbraketC6E30921
            - '"]}}}}},{"StartAt":"M1-D4-Advantage_system4-vCpus8_Mem_8G","States":{"M1-D4-Advantage_system4-vCpus8_Mem_8G":{"End":true,"Type":"Task","Resource":"arn:'
            - Ref: AWS::Partition
            - :states:::batch:submitJob.sync","Parameters":{"JobDefinition":"
            - Ref: QCLifeScienceBatchQCJobvCpus8Mem8GF9360C83
            - '","JobName":"M1-D4-Advantage_system4-vCpus8_Mem_8G","JobQueue":"'
            - Ref: QCLifeScienceBatchJobQueueADBFEFBD
            - '","ContainerOverrides":{"Command":["--M","1","--D","4","--device-arn","arn:aws:braket:::device/qpu/d-wave/Advantage_system4","--aws-region","'
            - Ref: AWS::Region
            - '","--instance-type","vCpus8_Mem_8G","--s3-bucket","'
            - Ref: amazonbraketC6E30921
            - '"]}}}}},{"StartAt":"M1-D4-Advantage_system4-vCpus16_Mem_16G","States":{"M1-D4-Advantage_system4-vCpus16_Mem_16G":{"End":true,"Type":"Task","Resource":"arn:'
            - Ref: AWS::Partition
            - :states:::batch:submitJob.sync","Parameters":{"JobDefinition":"
            - Ref: QCLifeScienceBatchQCJobvCpus16Mem16G08B1D59C
            - '","JobName":"M1-D4-Advantage_system4-vCpus16_Mem_16G","JobQueue":"'
            - Ref: QCLifeScienceBatchJobQueueADBFEFBD
            - '","ContainerOverrides":{"Command":["--M","1","--D","4","--device-arn","arn:aws:braket:::device/qpu/d-wave/Advantage_system4","--aws-region","'
            - Ref: AWS::Region
            - '","--instance-type","vCpus16_Mem_16G","--s3-bucket","'
            - Ref: amazonbraketC6E30921
            - '"]}}}}},{"StartAt":"M2-D4-DW_2000Q_6-vCpus2_Mem_2G","States":{"M2-D4-DW_2000Q_6-vCpus2_Mem_2G":{"End":true,"Type":"Task","Resource":"arn:'
            - Ref: AWS::Partition
            - :states:::batch:submitJob.sync","Parameters":{"JobDefinition":"
            - Ref: QCLifeScienceBatchQCJobvCpus2Mem2G8880109B
            - '","JobName":"M2-D4-DW_2000Q_6-vCpus2_Mem_2G","JobQueue":"'
            - Ref: QCLifeScienceBatchJobQueueADBFEFBD
            - '","ContainerOverrides":{"Command":["--M","2","--D","4","--device-arn","arn:aws:braket:::device/qpu/d-wave/DW_2000Q_6","--aws-region","'
            - Ref: AWS::Region
            - '","--instance-type","vCpus2_Mem_2G","--s3-bucket","'
            - Ref: amazonbraketC6E30921
            - '"]}}}}},{"StartAt":"M2-D4-DW_2000Q_6-vCpus4_Mem_4G","States":{"M2-D4-DW_2000Q_6-vCpus4_Mem_4G":{"End":true,"Type":"Task","Resource":"arn:'
            - Ref: AWS::Partition
            - :states:::batch:submitJob.sync","Parameters":{"JobDefinition":"
            - Ref: QCLifeScienceBatchQCJobvCpus4Mem4GA78E6C89
            - '","JobName":"M2-D4-DW_2000Q_6-vCpus4_Mem_4G","JobQueue":"'
            - Ref: QCLifeScienceBatchJobQueueADBFEFBD
            - '","ContainerOverrides":{"Command":["--M","2","--D","4","--device-arn","arn:aws:braket:::device/qpu/d-wave/DW_2000Q_6","--aws-region","'
            - Ref: AWS::Region
            - '","--instance-type","vCpus4_Mem_4G","--s3-bucket","'
            - Ref: amazonbraketC6E30921
            - '"]}}}}},{"StartAt":"M2-D4-DW_2000Q_6-vCpus8_Mem_8G","States":{"M2-D4-DW_2000Q_6-vCpus8_Mem_8G":{"End":true,"Type":"Task","Resource":"arn:'
            - Ref: AWS::Partition
            - :states:::batch:submitJob.sync","Parameters":{"JobDefinition":"
            - Ref: QCLifeScienceBatchQCJobvCpus8Mem8GF9360C83
            - '","JobName":"M2-D4-DW_2000Q_6-vCpus8_Mem_8G","JobQueue":"'
            - Ref: QCLifeScienceBatchJobQueueADBFEFBD
            - '","ContainerOverrides":{"Command":["--M","2","--D","4","--device-arn","arn:aws:braket:::device/qpu/d-wave/DW_2000Q_6","--aws-region","'
            - Ref: AWS::Region
            - '","--instance-type","vCpus8_Mem_8G","--s3-bucket","'
            - Ref: amazonbraketC6E30921
            - '"]}}}}},{"StartAt":"M2-D4-DW_2000Q_6-vCpus16_Mem_16G","States":{"M2-D4-DW_2000Q_6-vCpus16_Mem_16G":{"End":true,"Type":"Task","Resource":"arn:'
            - Ref: AWS::Partition
            - :states:::batch:submitJob.sync","Parameters":{"JobDefinition":"
            - Ref: QCLifeScienceBatchQCJobvCpus16Mem16G08B1D59C
            - '","JobName":"M2-D4-DW_2000Q_6-vCpus16_Mem_16G","JobQueue":"'
            - Ref: QCLifeScienceBatchJobQueueADBFEFBD
            - '","ContainerOverrides":{"Command":["--M","2","--D","4","--device-arn","arn:aws:braket:::device/qpu/d-wave/DW_2000Q_6","--aws-region","'
            - Ref: AWS::Region
            - '","--instance-type","vCpus16_Mem_16G","--s3-bucket","'
            - Ref: amazonbraketC6E30921
            - '"]}}}}},{"StartAt":"M2-D4-Advantage_system1-vCpus2_Mem_2G","States":{"M2-D4-Advantage_system1-vCpus2_Mem_2G":{"End":true,"Type":"Task","Resource":"arn:'
            - Ref: AWS::Partition
            - :states:::batch:submitJob.sync","Parameters":{"JobDefinition":"
            - Ref: QCLifeScienceBatchQCJobvCpus2Mem2G8880109B
            - '","JobName":"M2-D4-Advantage_system1-vCpus2_Mem_2G","JobQueue":"'
            - Ref: QCLifeScienceBatchJobQueueADBFEFBD
            - '","ContainerOverrides":{"Command":["--M","2","--D","4","--device-arn","arn:aws:braket:::device/qpu/d-wave/Advantage_system1","--aws-region","'
            - Ref: AWS::Region
            - '","--instance-type","vCpus2_Mem_2G","--s3-bucket","'
            - Ref: amazonbraketC6E30921
            - '"]}}}}},{"StartAt":"M2-D4-Advantage_system1-vCpus4_Mem_4G","States":{"M2-D4-Advantage_system1-vCpus4_Mem_4G":{"End":true,"Type":"Task","Resource":"arn:'
            - Ref: AWS::Partition
            - :states:::batch:submitJob.sync","Parameters":{"JobDefinition":"
            - Ref: QCLifeScienceBatchQCJobvCpus4Mem4GA78E6C89
            - '","JobName":"M2-D4-Advantage_system1-vCpus4_Mem_4G","JobQueue":"'
            - Ref: QCLifeScienceBatchJobQueueADBFEFBD
            - '","ContainerOverrides":{"Command":["--M","2","--D","4","--device-arn","arn:aws:braket:::device/qpu/d-wave/Advantage_system1","--aws-region","'
            - Ref: AWS::Region
            - '","--instance-type","vCpus4_Mem_4G","--s3-bucket","'
            - Ref: amazonbraketC6E30921
            - '"]}}}}},{"StartAt":"M2-D4-Advantage_system1-vCpus8_Mem_8G","States":{"M2-D4-Advantage_system1-vCpus8_Mem_8G":{"End":true,"Type":"Task","Resource":"arn:'
            - Ref: AWS::Partition
            - :states:::batch:submitJob.sync","Parameters":{"JobDefinition":"
            - Ref: QCLifeScienceBatchQCJobvCpus8Mem8GF9360C83
            - '","JobName":"M2-D4-Advantage_system1-vCpus8_Mem_8G","JobQueue":"'
            - Ref: QCLifeScienceBatchJobQueueADBFEFBD
            - '","ContainerOverrides":{"Command":["--M","2","--D","4","--device-arn","arn:aws:braket:::device/qpu/d-wave/Advantage_system1","--aws-region","'
            - Ref: AWS::Region
            - '","--instance-type","vCpus8_Mem_8G","--s3-bucket","'
            - Ref: amazonbraketC6E30921
            - '"]}}}}},{"StartAt":"M2-D4-Advantage_system1-vCpus16_Mem_16G","States":{"M2-D4-Advantage_system1-vCpus16_Mem_16G":{"End":true,"Type":"Task","Resource":"arn:'
            - Ref: AWS::Partition
            - :states:::batch:submitJob.sync","Parameters":{"JobDefinition":"
            - Ref: QCLifeScienceBatchQCJobvCpus16Mem16G08B1D59C
            - '","JobName":"M2-D4-Advantage_system1-vCpus16_Mem_16G","JobQueue":"'
            - Ref: QCLifeScienceBatchJobQueueADBFEFBD
            - '","ContainerOverrides":{"Command":["--M","2","--D","4","--device-arn","arn:aws:braket:::device/qpu/d-wave/Advantage_system1","--aws-region","'
            - Ref: AWS::Region
            - '","--instance-type","vCpus16_Mem_16G","--s3-bucket","'
            - Ref: amazonbraketC6E30921
            - '"]}}}}},{"StartAt":"M2-D4-Advantage_system4-vCpus2_Mem_2G","States":{"M2-D4-Advantage_system4-vCpus2_Mem_2G":{"End":true,"Type":"Task","Resource":"arn:'
            - Ref: AWS::Partition
            - :states:::batch:submitJob.sync","Parameters":{"JobDefinition":"
            - Ref: QCLifeScienceBatchQCJobvCpus2Mem2G8880109B
            - '","JobName":"M2-D4-Advantage_system4-vCpus2_Mem_2G","JobQueue":"'
            - Ref: QCLifeScienceBatchJobQueueADBFEFBD
            - '","ContainerOverrides":{"Command":["--M","2","--D","4","--device-arn","arn:aws:braket:::device/qpu/d-wave/Advantage_system4","--aws-region","'
            - Ref: AWS::Region
            - '","--instance-type","vCpus2_Mem_2G","--s3-bucket","'
            - Ref: amazonbraketC6E30921
            - '"]}}}}},{"StartAt":"M2-D4-Advantage_system4-vCpus4_Mem_4G","States":{"M2-D4-Advantage_system4-vCpus4_Mem_4G":{"End":true,"Type":"Task","Resource":"arn:'
            - Ref: AWS::Partition
            - :states:::batch:submitJob.sync","Parameters":{"JobDefinition":"
            - Ref: QCLifeScienceBatchQCJobvCpus4Mem4GA78E6C89
            - '","JobName":"M2-D4-Advantage_system4-vCpus4_Mem_4G","JobQueue":"'
            - Ref: QCLifeScienceBatchJobQueueADBFEFBD
            - '","ContainerOverrides":{"Command":["--M","2","--D","4","--device-arn","arn:aws:braket:::device/qpu/d-wave/Advantage_system4","--aws-region","'
            - Ref: AWS::Region
            - '","--instance-type","vCpus4_Mem_4G","--s3-bucket","'
            - Ref: amazonbraketC6E30921
            - '"]}}}}},{"StartAt":"M2-D4-Advantage_system4-vCpus8_Mem_8G","States":{"M2-D4-Advantage_system4-vCpus8_Mem_8G":{"End":true,"Type":"Task","Resource":"arn:'
            - Ref: AWS::Partition
            - :states:::batch:submitJob.sync","Parameters":{"JobDefinition":"
            - Ref: QCLifeScienceBatchQCJobvCpus8Mem8GF9360C83
            - '","JobName":"M2-D4-Advantage_system4-vCpus8_Mem_8G","JobQueue":"'
            - Ref: QCLifeScienceBatchJobQueueADBFEFBD
            - '","ContainerOverrides":{"Command":["--M","2","--D","4","--device-arn","arn:aws:braket:::device/qpu/d-wave/Advantage_system4","--aws-region","'
            - Ref: AWS::Region
            - '","--instance-type","vCpus8_Mem_8G","--s3-bucket","'
            - Ref: amazonbraketC6E30921
            - '"]}}}}},{"StartAt":"M2-D4-Advantage_system4-vCpus16_Mem_16G","States":{"M2-D4-Advantage_system4-vCpus16_Mem_16G":{"End":true,"Type":"Task","Resource":"arn:'
            - Ref: AWS::Partition
            - :states:::batch:submitJob.sync","Parameters":{"JobDefinition":"
            - Ref: QCLifeScienceBatchQCJobvCpus16Mem16G08B1D59C
            - '","JobName":"M2-D4-Advantage_system4-vCpus16_Mem_16G","JobQueue":"'
            - Ref: QCLifeScienceBatchJobQueueADBFEFBD
            - '","ContainerOverrides":{"Command":["--M","2","--D","4","--device-arn","arn:aws:braket:::device/qpu/d-wave/Advantage_system4","--aws-region","'
            - Ref: AWS::Region
            - '","--instance-type","vCpus16_Mem_16G","--s3-bucket","'
            - Ref: amazonbraketC6E30921
            - '"]}}}}},{"StartAt":"M3-D4-DW_2000Q_6-vCpus2_Mem_2G","States":{"M3-D4-DW_2000Q_6-vCpus2_Mem_2G":{"End":true,"Type":"Task","Resource":"arn:'
            - Ref: AWS::Partition
            - :states:::batch:submitJob.sync","Parameters":{"JobDefinition":"
            - Ref: QCLifeScienceBatchQCJobvCpus2Mem2G8880109B
            - '","JobName":"M3-D4-DW_2000Q_6-vCpus2_Mem_2G","JobQueue":"'
            - Ref: QCLifeScienceBatchJobQueueADBFEFBD
            - '","ContainerOverrides":{"Command":["--M","3","--D","4","--device-arn","arn:aws:braket:::device/qpu/d-wave/DW_2000Q_6","--aws-region","'
            - Ref: AWS::Region
            - '","--instance-type","vCpus2_Mem_2G","--s3-bucket","'
            - Ref: amazonbraketC6E30921
            - '"]}}}}},{"StartAt":"M3-D4-DW_2000Q_6-vCpus4_Mem_4G","States":{"M3-D4-DW_2000Q_6-vCpus4_Mem_4G":{"End":true,"Type":"Task","Resource":"arn:'
            - Ref: AWS::Partition
            - :states:::batch:submitJob.sync","Parameters":{"JobDefinition":"
            - Ref: QCLifeScienceBatchQCJobvCpus4Mem4GA78E6C89
            - '","JobName":"M3-D4-DW_2000Q_6-vCpus4_Mem_4G","JobQueue":"'
            - Ref: QCLifeScienceBatchJobQueueADBFEFBD
            - '","ContainerOverrides":{"Command":["--M","3","--D","4","--device-arn","arn:aws:braket:::device/qpu/d-wave/DW_2000Q_6","--aws-region","'
            - Ref: AWS::Region
            - '","--instance-type","vCpus4_Mem_4G","--s3-bucket","'
            - Ref: amazonbraketC6E30921
            - '"]}}}}},{"StartAt":"M3-D4-DW_2000Q_6-vCpus8_Mem_8G","States":{"M3-D4-DW_2000Q_6-vCpus8_Mem_8G":{"End":true,"Type":"Task","Resource":"arn:'
            - Ref: AWS::Partition
            - :states:::batch:submitJob.sync","Parameters":{"JobDefinition":"
            - Ref: QCLifeScienceBatchQCJobvCpus8Mem8GF9360C83
            - '","JobName":"M3-D4-DW_2000Q_6-vCpus8_Mem_8G","JobQueue":"'
            - Ref: QCLifeScienceBatchJobQueueADBFEFBD
            - '","ContainerOverrides":{"Command":["--M","3","--D","4","--device-arn","arn:aws:braket:::device/qpu/d-wave/DW_2000Q_6","--aws-region","'
            - Ref: AWS::Region
            - '","--instance-type","vCpus8_Mem_8G","--s3-bucket","'
            - Ref: amazonbraketC6E30921
            - '"]}}}}},{"StartAt":"M3-D4-DW_2000Q_6-vCpus16_Mem_16G","States":{"M3-D4-DW_2000Q_6-vCpus16_Mem_16G":{"End":true,"Type":"Task","Resource":"arn:'
            - Ref: AWS::Partition
            - :states:::batch:submitJob.sync","Parameters":{"JobDefinition":"
            - Ref: QCLifeScienceBatchQCJobvCpus16Mem16G08B1D59C
            - '","JobName":"M3-D4-DW_2000Q_6-vCpus16_Mem_16G","JobQueue":"'
            - Ref: QCLifeScienceBatchJobQueueADBFEFBD
            - '","ContainerOverrides":{"Command":["--M","3","--D","4","--device-arn","arn:aws:braket:::device/qpu/d-wave/DW_2000Q_6","--aws-region","'
            - Ref: AWS::Region
            - '","--instance-type","vCpus16_Mem_16G","--s3-bucket","'
            - Ref: amazonbraketC6E30921
            - '"]}}}}},{"StartAt":"M3-D4-Advantage_system1-vCpus2_Mem_2G","States":{"M3-D4-Advantage_system1-vCpus2_Mem_2G":{"End":true,"Type":"Task","Resource":"arn:'
            - Ref: AWS::Partition
            - :states:::batch:submitJob.sync","Parameters":{"JobDefinition":"
            - Ref: QCLifeScienceBatchQCJobvCpus2Mem2G8880109B
            - '","JobName":"M3-D4-Advantage_system1-vCpus2_Mem_2G","JobQueue":"'
            - Ref: QCLifeScienceBatchJobQueueADBFEFBD
            - '","ContainerOverrides":{"Command":["--M","3","--D","4","--device-arn","arn:aws:braket:::device/qpu/d-wave/Advantage_system1","--aws-region","'
            - Ref: AWS::Region
            - '","--instance-type","vCpus2_Mem_2G","--s3-bucket","'
            - Ref: amazonbraketC6E30921
            - '"]}}}}},{"StartAt":"M3-D4-Advantage_system1-vCpus4_Mem_4G","States":{"M3-D4-Advantage_system1-vCpus4_Mem_4G":{"End":true,"Type":"Task","Resource":"arn:'
            - Ref: AWS::Partition
            - :states:::batch:submitJob.sync","Parameters":{"JobDefinition":"
            - Ref: QCLifeScienceBatchQCJobvCpus4Mem4GA78E6C89
            - '","JobName":"M3-D4-Advantage_system1-vCpus4_Mem_4G","JobQueue":"'
            - Ref: QCLifeScienceBatchJobQueueADBFEFBD
            - '","ContainerOverrides":{"Command":["--M","3","--D","4","--device-arn","arn:aws:braket:::device/qpu/d-wave/Advantage_system1","--aws-region","'
            - Ref: AWS::Region
            - '","--instance-type","vCpus4_Mem_4G","--s3-bucket","'
            - Ref: amazonbraketC6E30921
            - '"]}}}}},{"StartAt":"M3-D4-Advantage_system1-vCpus8_Mem_8G","States":{"M3-D4-Advantage_system1-vCpus8_Mem_8G":{"End":true,"Type":"Task","Resource":"arn:'
            - Ref: AWS::Partition
            - :states:::batch:submitJob.sync","Parameters":{"JobDefinition":"
            - Ref: QCLifeScienceBatchQCJobvCpus8Mem8GF9360C83
            - '","JobName":"M3-D4-Advantage_system1-vCpus8_Mem_8G","JobQueue":"'
            - Ref: QCLifeScienceBatchJobQueueADBFEFBD
            - '","ContainerOverrides":{"Command":["--M","3","--D","4","--device-arn","arn:aws:braket:::device/qpu/d-wave/Advantage_system1","--aws-region","'
            - Ref: AWS::Region
            - '","--instance-type","vCpus8_Mem_8G","--s3-bucket","'
            - Ref: amazonbraketC6E30921
            - '"]}}}}},{"StartAt":"M3-D4-Advantage_system1-vCpus16_Mem_16G","States":{"M3-D4-Advantage_system1-vCpus16_Mem_16G":{"End":true,"Type":"Task","Resource":"arn:'
            - Ref: AWS::Partition
            - :states:::batch:submitJob.sync","Parameters":{"JobDefinition":"
            - Ref: QCLifeScienceBatchQCJobvCpus16Mem16G08B1D59C
            - '","JobName":"M3-D4-Advantage_system1-vCpus16_Mem_16G","JobQueue":"'
            - Ref: QCLifeScienceBatchJobQueueADBFEFBD
            - '","ContainerOverrides":{"Command":["--M","3","--D","4","--device-arn","arn:aws:braket:::device/qpu/d-wave/Advantage_system1","--aws-region","'
            - Ref: AWS::Region
            - '","--instance-type","vCpus16_Mem_16G","--s3-bucket","'
            - Ref: amazonbraketC6E30921
            - '"]}}}}},{"StartAt":"M3-D4-Advantage_system4-vCpus2_Mem_2G","States":{"M3-D4-Advantage_system4-vCpus2_Mem_2G":{"End":true,"Type":"Task","Resource":"arn:'
            - Ref: AWS::Partition
            - :states:::batch:submitJob.sync","Parameters":{"JobDefinition":"
            - Ref: QCLifeScienceBatchQCJobvCpus2Mem2G8880109B
            - '","JobName":"M3-D4-Advantage_system4-vCpus2_Mem_2G","JobQueue":"'
            - Ref: QCLifeScienceBatchJobQueueADBFEFBD
            - '","ContainerOverrides":{"Command":["--M","3","--D","4","--device-arn","arn:aws:braket:::device/qpu/d-wave/Advantage_system4","--aws-region","'
            - Ref: AWS::Region
            - '","--instance-type","vCpus2_Mem_2G","--s3-bucket","'
            - Ref: amazonbraketC6E30921
            - '"]}}}}},{"StartAt":"M3-D4-Advantage_system4-vCpus4_Mem_4G","States":{"M3-D4-Advantage_system4-vCpus4_Mem_4G":{"End":true,"Type":"Task","Resource":"arn:'
            - Ref: AWS::Partition
            - :states:::batch:submitJob.sync","Parameters":{"JobDefinition":"
            - Ref: QCLifeScienceBatchQCJobvCpus4Mem4GA78E6C89
            - '","JobName":"M3-D4-Advantage_system4-vCpus4_Mem_4G","JobQueue":"'
            - Ref: QCLifeScienceBatchJobQueueADBFEFBD
            - '","ContainerOverrides":{"Command":["--M","3","--D","4","--device-arn","arn:aws:braket:::device/qpu/d-wave/Advantage_system4","--aws-region","'
            - Ref: AWS::Region
            - '","--instance-type","vCpus4_Mem_4G","--s3-bucket","'
            - Ref: amazonbraketC6E30921
            - '"]}}}}},{"StartAt":"M3-D4-Advantage_system4-vCpus8_Mem_8G","States":{"M3-D4-Advantage_system4-vCpus8_Mem_8G":{"End":true,"Type":"Task","Resource":"arn:'
            - Ref: AWS::Partition
            - :states:::batch:submitJob.sync","Parameters":{"JobDefinition":"
            - Ref: QCLifeScienceBatchQCJobvCpus8Mem8GF9360C83
            - '","JobName":"M3-D4-Advantage_system4-vCpus8_Mem_8G","JobQueue":"'
            - Ref: QCLifeScienceBatchJobQueueADBFEFBD
            - '","ContainerOverrides":{"Command":["--M","3","--D","4","--device-arn","arn:aws:braket:::device/qpu/d-wave/Advantage_system4","--aws-region","'
            - Ref: AWS::Region
            - '","--instance-type","vCpus8_Mem_8G","--s3-bucket","'
            - Ref: amazonbraketC6E30921
            - '"]}}}}},{"StartAt":"M3-D4-Advantage_system4-vCpus16_Mem_16G","States":{"M3-D4-Advantage_system4-vCpus16_Mem_16G":{"End":true,"Type":"Task","Resource":"arn:'
            - Ref: AWS::Partition
            - :states:::batch:submitJob.sync","Parameters":{"JobDefinition":"
            - Ref: QCLifeScienceBatchQCJobvCpus16Mem16G08B1D59C
            - '","JobName":"M3-D4-Advantage_system4-vCpus16_Mem_16G","JobQueue":"'
            - Ref: QCLifeScienceBatchJobQueueADBFEFBD
            - '","ContainerOverrides":{"Command":["--M","3","--D","4","--device-arn","arn:aws:braket:::device/qpu/d-wave/Advantage_system4","--aws-region","'
            - Ref: AWS::Region
            - '","--instance-type","vCpus16_Mem_16G","--s3-bucket","'
            - Ref: amazonbraketC6E30921
            - '"]}}}}},{"StartAt":"M4-D4-DW_2000Q_6-vCpus2_Mem_2G","States":{"M4-D4-DW_2000Q_6-vCpus2_Mem_2G":{"End":true,"Type":"Task","Resource":"arn:'
            - Ref: AWS::Partition
            - :states:::batch:submitJob.sync","Parameters":{"JobDefinition":"
            - Ref: QCLifeScienceBatchQCJobvCpus2Mem2G8880109B
            - '","JobName":"M4-D4-DW_2000Q_6-vCpus2_Mem_2G","JobQueue":"'
            - Ref: QCLifeScienceBatchJobQueueADBFEFBD
            - '","ContainerOverrides":{"Command":["--M","4","--D","4","--device-arn","arn:aws:braket:::device/qpu/d-wave/DW_2000Q_6","--aws-region","'
            - Ref: AWS::Region
            - '","--instance-type","vCpus2_Mem_2G","--s3-bucket","'
            - Ref: amazonbraketC6E30921
            - '"]}}}}},{"StartAt":"M4-D4-DW_2000Q_6-vCpus4_Mem_4G","States":{"M4-D4-DW_2000Q_6-vCpus4_Mem_4G":{"End":true,"Type":"Task","Resource":"arn:'
            - Ref: AWS::Partition
            - :states:::batch:submitJob.sync","Parameters":{"JobDefinition":"
            - Ref: QCLifeScienceBatchQCJobvCpus4Mem4GA78E6C89
            - '","JobName":"M4-D4-DW_2000Q_6-vCpus4_Mem_4G","JobQueue":"'
            - Ref: QCLifeScienceBatchJobQueueADBFEFBD
            - '","ContainerOverrides":{"Command":["--M","4","--D","4","--device-arn","arn:aws:braket:::device/qpu/d-wave/DW_2000Q_6","--aws-region","'
            - Ref: AWS::Region
            - '","--instance-type","vCpus4_Mem_4G","--s3-bucket","'
            - Ref: amazonbraketC6E30921
            - '"]}}}}},{"StartAt":"M4-D4-DW_2000Q_6-vCpus8_Mem_8G","States":{"M4-D4-DW_2000Q_6-vCpus8_Mem_8G":{"End":true,"Type":"Task","Resource":"arn:'
            - Ref: AWS::Partition
            - :states:::batch:submitJob.sync","Parameters":{"JobDefinition":"
            - Ref: QCLifeScienceBatchQCJobvCpus8Mem8GF9360C83
            - '","JobName":"M4-D4-DW_2000Q_6-vCpus8_Mem_8G","JobQueue":"'
            - Ref: QCLifeScienceBatchJobQueueADBFEFBD
            - '","ContainerOverrides":{"Command":["--M","4","--D","4","--device-arn","arn:aws:braket:::device/qpu/d-wave/DW_2000Q_6","--aws-region","'
            - Ref: AWS::Region
            - '","--instance-type","vCpus8_Mem_8G","--s3-bucket","'
            - Ref: amazonbraketC6E30921
            - '"]}}}}},{"StartAt":"M4-D4-DW_2000Q_6-vCpus16_Mem_16G","States":{"M4-D4-DW_2000Q_6-vCpus16_Mem_16G":{"End":true,"Type":"Task","Resource":"arn:'
            - Ref: AWS::Partition
            - :states:::batch:submitJob.sync","Parameters":{"JobDefinition":"
            - Ref: QCLifeScienceBatchQCJobvCpus16Mem16G08B1D59C
            - '","JobName":"M4-D4-DW_2000Q_6-vCpus16_Mem_16G","JobQueue":"'
            - Ref: QCLifeScienceBatchJobQueueADBFEFBD
            - '","ContainerOverrides":{"Command":["--M","4","--D","4","--device-arn","arn:aws:braket:::device/qpu/d-wave/DW_2000Q_6","--aws-region","'
            - Ref: AWS::Region
            - '","--instance-type","vCpus16_Mem_16G","--s3-bucket","'
            - Ref: amazonbraketC6E30921
            - '"]}}}}},{"StartAt":"M4-D4-Advantage_system1-vCpus2_Mem_2G","States":{"M4-D4-Advantage_system1-vCpus2_Mem_2G":{"End":true,"Type":"Task","Resource":"arn:'
            - Ref: AWS::Partition
            - :states:::batch:submitJob.sync","Parameters":{"JobDefinition":"
            - Ref: QCLifeScienceBatchQCJobvCpus2Mem2G8880109B
            - '","JobName":"M4-D4-Advantage_system1-vCpus2_Mem_2G","JobQueue":"'
            - Ref: QCLifeScienceBatchJobQueueADBFEFBD
            - '","ContainerOverrides":{"Command":["--M","4","--D","4","--device-arn","arn:aws:braket:::device/qpu/d-wave/Advantage_system1","--aws-region","'
            - Ref: AWS::Region
            - '","--instance-type","vCpus2_Mem_2G","--s3-bucket","'
            - Ref: amazonbraketC6E30921
            - '"]}}}}},{"StartAt":"M4-D4-Advantage_system1-vCpus4_Mem_4G","States":{"M4-D4-Advantage_system1-vCpus4_Mem_4G":{"End":true,"Type":"Task","Resource":"arn:'
            - Ref: AWS::Partition
            - :states:::batch:submitJob.sync","Parameters":{"JobDefinition":"
            - Ref: QCLifeScienceBatchQCJobvCpus4Mem4GA78E6C89
            - '","JobName":"M4-D4-Advantage_system1-vCpus4_Mem_4G","JobQueue":"'
            - Ref: QCLifeScienceBatchJobQueueADBFEFBD
            - '","ContainerOverrides":{"Command":["--M","4","--D","4","--device-arn","arn:aws:braket:::device/qpu/d-wave/Advantage_system1","--aws-region","'
            - Ref: AWS::Region
            - '","--instance-type","vCpus4_Mem_4G","--s3-bucket","'
            - Ref: amazonbraketC6E30921
            - '"]}}}}},{"StartAt":"M4-D4-Advantage_system1-vCpus8_Mem_8G","States":{"M4-D4-Advantage_system1-vCpus8_Mem_8G":{"End":true,"Type":"Task","Resource":"arn:'
            - Ref: AWS::Partition
            - :states:::batch:submitJob.sync","Parameters":{"JobDefinition":"
            - Ref: QCLifeScienceBatchQCJobvCpus8Mem8GF9360C83
            - '","JobName":"M4-D4-Advantage_system1-vCpus8_Mem_8G","JobQueue":"'
            - Ref: QCLifeScienceBatchJobQueueADBFEFBD
            - '","ContainerOverrides":{"Command":["--M","4","--D","4","--device-arn","arn:aws:braket:::device/qpu/d-wave/Advantage_system1","--aws-region","'
            - Ref: AWS::Region
            - '","--instance-type","vCpus8_Mem_8G","--s3-bucket","'
            - Ref: amazonbraketC6E30921
            - '"]}}}}},{"StartAt":"M4-D4-Advantage_system1-vCpus16_Mem_16G","States":{"M4-D4-Advantage_system1-vCpus16_Mem_16G":{"End":true,"Type":"Task","Resource":"arn:'
            - Ref: AWS::Partition
            - :states:::batch:submitJob.sync","Parameters":{"JobDefinition":"
            - Ref: QCLifeScienceBatchQCJobvCpus16Mem16G08B1D59C
            - '","JobName":"M4-D4-Advantage_system1-vCpus16_Mem_16G","JobQueue":"'
            - Ref: QCLifeScienceBatchJobQueueADBFEFBD
            - '","ContainerOverrides":{"Command":["--M","4","--D","4","--device-arn","arn:aws:braket:::device/qpu/d-wave/Advantage_system1","--aws-region","'
            - Ref: AWS::Region
            - '","--instance-type","vCpus16_Mem_16G","--s3-bucket","'
            - Ref: amazonbraketC6E30921
            - '"]}}}}},{"StartAt":"M4-D4-Advantage_system4-vCpus2_Mem_2G","States":{"M4-D4-Advantage_system4-vCpus2_Mem_2G":{"End":true,"Type":"Task","Resource":"arn:'
            - Ref: AWS::Partition
            - :states:::batch:submitJob.sync","Parameters":{"JobDefinition":"
            - Ref: QCLifeScienceBatchQCJobvCpus2Mem2G8880109B
            - '","JobName":"M4-D4-Advantage_system4-vCpus2_Mem_2G","JobQueue":"'
            - Ref: QCLifeScienceBatchJobQueueADBFEFBD
            - '","ContainerOverrides":{"Command":["--M","4","--D","4","--device-arn","arn:aws:braket:::device/qpu/d-wave/Advantage_system4","--aws-region","'
            - Ref: AWS::Region
            - '","--instance-type","vCpus2_Mem_2G","--s3-bucket","'
            - Ref: amazonbraketC6E30921
            - '"]}}}}},{"StartAt":"M4-D4-Advantage_system4-vCpus4_Mem_4G","States":{"M4-D4-Advantage_system4-vCpus4_Mem_4G":{"End":true,"Type":"Task","Resource":"arn:'
            - Ref: AWS::Partition
            - :states:::batch:submitJob.sync","Parameters":{"JobDefinition":"
            - Ref: QCLifeScienceBatchQCJobvCpus4Mem4GA78E6C89
            - '","JobName":"M4-D4-Advantage_system4-vCpus4_Mem_4G","JobQueue":"'
            - Ref: QCLifeScienceBatchJobQueueADBFEFBD
            - '","ContainerOverrides":{"Command":["--M","4","--D","4","--device-arn","arn:aws:braket:::device/qpu/d-wave/Advantage_system4","--aws-region","'
            - Ref: AWS::Region
            - '","--instance-type","vCpus4_Mem_4G","--s3-bucket","'
            - Ref: amazonbraketC6E30921
            - '"]}}}}},{"StartAt":"M4-D4-Advantage_system4-vCpus8_Mem_8G","States":{"M4-D4-Advantage_system4-vCpus8_Mem_8G":{"End":true,"Type":"Task","Resource":"arn:'
            - Ref: AWS::Partition
            - :states:::batch:submitJob.sync","Parameters":{"JobDefinition":"
            - Ref: QCLifeScienceBatchQCJobvCpus8Mem8GF9360C83
            - '","JobName":"M4-D4-Advantage_system4-vCpus8_Mem_8G","JobQueue":"'
            - Ref: QCLifeScienceBatchJobQueueADBFEFBD
            - '","ContainerOverrides":{"Command":["--M","4","--D","4","--device-arn","arn:aws:braket:::device/qpu/d-wave/Advantage_system4","--aws-region","'
            - Ref: AWS::Region
            - '","--instance-type","vCpus8_Mem_8G","--s3-bucket","'
            - Ref: amazonbraketC6E30921
            - '"]}}}}},{"StartAt":"M4-D4-Advantage_system4-vCpus16_Mem_16G","States":{"M4-D4-Advantage_system4-vCpus16_Mem_16G":{"End":true,"Type":"Task","Resource":"arn:'
            - Ref: AWS::Partition
            - :states:::batch:submitJob.sync","Parameters":{"JobDefinition":"
            - Ref: QCLifeScienceBatchQCJobvCpus16Mem16G08B1D59C
            - '","JobName":"M4-D4-Advantage_system4-vCpus16_Mem_16G","JobQueue":"'
            - Ref: QCLifeScienceBatchJobQueueADBFEFBD
            - '","ContainerOverrides":{"Command":["--M","4","--D","4","--device-arn","arn:aws:braket:::device/qpu/d-wave/Advantage_system4","--aws-region","'
            - Ref: AWS::Region
            - '","--instance-type","vCpus16_Mem_16G","--s3-bucket","'
            - Ref: amazonbraketC6E30921
            - '"]}}}}},{"StartAt":"M5-D4-DW_2000Q_6-vCpus2_Mem_2G","States":{"M5-D4-DW_2000Q_6-vCpus2_Mem_2G":{"End":true,"Type":"Task","Resource":"arn:'
            - Ref: AWS::Partition
            - :states:::batch:submitJob.sync","Parameters":{"JobDefinition":"
            - Ref: QCLifeScienceBatchQCJobvCpus2Mem2G8880109B
            - '","JobName":"M5-D4-DW_2000Q_6-vCpus2_Mem_2G","JobQueue":"'
            - Ref: QCLifeScienceBatchJobQueueADBFEFBD
            - '","ContainerOverrides":{"Command":["--M","5","--D","4","--device-arn","arn:aws:braket:::device/qpu/d-wave/DW_2000Q_6","--aws-region","'
            - Ref: AWS::Region
            - '","--instance-type","vCpus2_Mem_2G","--s3-bucket","'
            - Ref: amazonbraketC6E30921
            - '"]}}}}},{"StartAt":"M5-D4-DW_2000Q_6-vCpus4_Mem_4G","States":{"M5-D4-DW_2000Q_6-vCpus4_Mem_4G":{"End":true,"Type":"Task","Resource":"arn:'
            - Ref: AWS::Partition
            - :states:::batch:submitJob.sync","Parameters":{"JobDefinition":"
            - Ref: QCLifeScienceBatchQCJobvCpus4Mem4GA78E6C89
            - '","JobName":"M5-D4-DW_2000Q_6-vCpus4_Mem_4G","JobQueue":"'
            - Ref: QCLifeScienceBatchJobQueueADBFEFBD
            - '","ContainerOverrides":{"Command":["--M","5","--D","4","--device-arn","arn:aws:braket:::device/qpu/d-wave/DW_2000Q_6","--aws-region","'
            - Ref: AWS::Region
            - '","--instance-type","vCpus4_Mem_4G","--s3-bucket","'
            - Ref: amazonbraketC6E30921
            - '"]}}}}},{"StartAt":"M5-D4-DW_2000Q_6-vCpus8_Mem_8G","States":{"M5-D4-DW_2000Q_6-vCpus8_Mem_8G":{"End":true,"Type":"Task","Resource":"arn:'
            - Ref: AWS::Partition
            - :states:::batch:submitJob.sync","Parameters":{"JobDefinition":"
            - Ref: QCLifeScienceBatchQCJobvCpus8Mem8GF9360C83
            - '","JobName":"M5-D4-DW_2000Q_6-vCpus8_Mem_8G","JobQueue":"'
            - Ref: QCLifeScienceBatchJobQueueADBFEFBD
            - '","ContainerOverrides":{"Command":["--M","5","--D","4","--device-arn","arn:aws:braket:::device/qpu/d-wave/DW_2000Q_6","--aws-region","'
            - Ref: AWS::Region
            - '","--instance-type","vCpus8_Mem_8G","--s3-bucket","'
            - Ref: amazonbraketC6E30921
            - '"]}}}}},{"StartAt":"M5-D4-DW_2000Q_6-vCpus16_Mem_16G","States":{"M5-D4-DW_2000Q_6-vCpus16_Mem_16G":{"End":true,"Type":"Task","Resource":"arn:'
            - Ref: AWS::Partition
            - :states:::batch:submitJob.sync","Parameters":{"JobDefinition":"
            - Ref: QCLifeScienceBatchQCJobvCpus16Mem16G08B1D59C
            - '","JobName":"M5-D4-DW_2000Q_6-vCpus16_Mem_16G","JobQueue":"'
            - Ref: QCLifeScienceBatchJobQueueADBFEFBD
            - '","ContainerOverrides":{"Command":["--M","5","--D","4","--device-arn","arn:aws:braket:::device/qpu/d-wave/DW_2000Q_6","--aws-region","'
            - Ref: AWS::Region
            - '","--instance-type","vCpus16_Mem_16G","--s3-bucket","'
            - Ref: amazonbraketC6E30921
            - '"]}}}}},{"StartAt":"M5-D4-Advantage_system1-vCpus2_Mem_2G","States":{"M5-D4-Advantage_system1-vCpus2_Mem_2G":{"End":true,"Type":"Task","Resource":"arn:'
            - Ref: AWS::Partition
            - :states:::batch:submitJob.sync","Parameters":{"JobDefinition":"
            - Ref: QCLifeScienceBatchQCJobvCpus2Mem2G8880109B
            - '","JobName":"M5-D4-Advantage_system1-vCpus2_Mem_2G","JobQueue":"'
            - Ref: QCLifeScienceBatchJobQueueADBFEFBD
            - '","ContainerOverrides":{"Command":["--M","5","--D","4","--device-arn","arn:aws:braket:::device/qpu/d-wave/Advantage_system1","--aws-region","'
            - Ref: AWS::Region
            - '","--instance-type","vCpus2_Mem_2G","--s3-bucket","'
            - Ref: amazonbraketC6E30921
            - '"]}}}}},{"StartAt":"M5-D4-Advantage_system1-vCpus4_Mem_4G","States":{"M5-D4-Advantage_system1-vCpus4_Mem_4G":{"End":true,"Type":"Task","Resource":"arn:'
            - Ref: AWS::Partition
            - :states:::batch:submitJob.sync","Parameters":{"JobDefinition":"
            - Ref: QCLifeScienceBatchQCJobvCpus4Mem4GA78E6C89
            - '","JobName":"M5-D4-Advantage_system1-vCpus4_Mem_4G","JobQueue":"'
            - Ref: QCLifeScienceBatchJobQueueADBFEFBD
            - '","ContainerOverrides":{"Command":["--M","5","--D","4","--device-arn","arn:aws:braket:::device/qpu/d-wave/Advantage_system1","--aws-region","'
            - Ref: AWS::Region
            - '","--instance-type","vCpus4_Mem_4G","--s3-bucket","'
            - Ref: amazonbraketC6E30921
            - '"]}}}}},{"StartAt":"M5-D4-Advantage_system1-vCpus8_Mem_8G","States":{"M5-D4-Advantage_system1-vCpus8_Mem_8G":{"End":true,"Type":"Task","Resource":"arn:'
            - Ref: AWS::Partition
            - :states:::batch:submitJob.sync","Parameters":{"JobDefinition":"
            - Ref: QCLifeScienceBatchQCJobvCpus8Mem8GF9360C83
            - '","JobName":"M5-D4-Advantage_system1-vCpus8_Mem_8G","JobQueue":"'
            - Ref: QCLifeScienceBatchJobQueueADBFEFBD
            - '","ContainerOverrides":{"Command":["--M","5","--D","4","--device-arn","arn:aws:braket:::device/qpu/d-wave/Advantage_system1","--aws-region","'
            - Ref: AWS::Region
            - '","--instance-type","vCpus8_Mem_8G","--s3-bucket","'
            - Ref: amazonbraketC6E30921
            - '"]}}}}},{"StartAt":"M5-D4-Advantage_system1-vCpus16_Mem_16G","States":{"M5-D4-Advantage_system1-vCpus16_Mem_16G":{"End":true,"Type":"Task","Resource":"arn:'
            - Ref: AWS::Partition
            - :states:::batch:submitJob.sync","Parameters":{"JobDefinition":"
            - Ref: QCLifeScienceBatchQCJobvCpus16Mem16G08B1D59C
            - '","JobName":"M5-D4-Advantage_system1-vCpus16_Mem_16G","JobQueue":"'
            - Ref: QCLifeScienceBatchJobQueueADBFEFBD
            - '","ContainerOverrides":{"Command":["--M","5","--D","4","--device-arn","arn:aws:braket:::device/qpu/d-wave/Advantage_system1","--aws-region","'
            - Ref: AWS::Region
            - '","--instance-type","vCpus16_Mem_16G","--s3-bucket","'
            - Ref: amazonbraketC6E30921
            - '"]}}}}},{"StartAt":"M5-D4-Advantage_system4-vCpus2_Mem_2G","States":{"M5-D4-Advantage_system4-vCpus2_Mem_2G":{"End":true,"Type":"Task","Resource":"arn:'
            - Ref: AWS::Partition
            - :states:::batch:submitJob.sync","Parameters":{"JobDefinition":"
            - Ref: QCLifeScienceBatchQCJobvCpus2Mem2G8880109B
            - '","JobName":"M5-D4-Advantage_system4-vCpus2_Mem_2G","JobQueue":"'
            - Ref: QCLifeScienceBatchJobQueueADBFEFBD
            - '","ContainerOverrides":{"Command":["--M","5","--D","4","--device-arn","arn:aws:braket:::device/qpu/d-wave/Advantage_system4","--aws-region","'
            - Ref: AWS::Region
            - '","--instance-type","vCpus2_Mem_2G","--s3-bucket","'
            - Ref: amazonbraketC6E30921
            - '"]}}}}},{"StartAt":"M5-D4-Advantage_system4-vCpus4_Mem_4G","States":{"M5-D4-Advantage_system4-vCpus4_Mem_4G":{"End":true,"Type":"Task","Resource":"arn:'
            - Ref: AWS::Partition
            - :states:::batch:submitJob.sync","Parameters":{"JobDefinition":"
            - Ref: QCLifeScienceBatchQCJobvCpus4Mem4GA78E6C89
            - '","JobName":"M5-D4-Advantage_system4-vCpus4_Mem_4G","JobQueue":"'
            - Ref: QCLifeScienceBatchJobQueueADBFEFBD
            - '","ContainerOverrides":{"Command":["--M","5","--D","4","--device-arn","arn:aws:braket:::device/qpu/d-wave/Advantage_system4","--aws-region","'
            - Ref: AWS::Region
            - '","--instance-type","vCpus4_Mem_4G","--s3-bucket","'
            - Ref: amazonbraketC6E30921
            - '"]}}}}},{"StartAt":"M5-D4-Advantage_system4-vCpus8_Mem_8G","States":{"M5-D4-Advantage_system4-vCpus8_Mem_8G":{"End":true,"Type":"Task","Resource":"arn:'
            - Ref: AWS::Partition
            - :states:::batch:submitJob.sync","Parameters":{"JobDefinition":"
            - Ref: QCLifeScienceBatchQCJobvCpus8Mem8GF9360C83
            - '","JobName":"M5-D4-Advantage_system4-vCpus8_Mem_8G","JobQueue":"'
            - Ref: QCLifeScienceBatchJobQueueADBFEFBD
            - '","ContainerOverrides":{"Command":["--M","5","--D","4","--device-arn","arn:aws:braket:::device/qpu/d-wave/Advantage_system4","--aws-region","'
            - Ref: AWS::Region
            - '","--instance-type","vCpus8_Mem_8G","--s3-bucket","'
            - Ref: amazonbraketC6E30921
            - '"]}}}}},{"StartAt":"M5-D4-Advantage_system4-vCpus16_Mem_16G","States":{"M5-D4-Advantage_system4-vCpus16_Mem_16G":{"End":true,"Type":"Task","Resource":"arn:'
            - Ref: AWS::Partition
            - :states:::batch:submitJob.sync","Parameters":{"JobDefinition":"
            - Ref: QCLifeScienceBatchQCJobvCpus16Mem16G08B1D59C
            - '","JobName":"M5-D4-Advantage_system4-vCpus16_Mem_16G","JobQueue":"'
            - Ref: QCLifeScienceBatchJobQueueADBFEFBD
            - '","ContainerOverrides":{"Command":["--M","5","--D","4","--device-arn","arn:aws:braket:::device/qpu/d-wave/Advantage_system4","--aws-region","'
            - Ref: AWS::Region
            - '","--instance-type","vCpus16_Mem_16G","--s3-bucket","'
            - Ref: amazonbraketC6E30921
            - '"]}}}}}]},"Aggregate Result":{"Next":"Succeed","Retry":[{"ErrorEquals":["Lambda.ServiceException","Lambda.AWSLambdaException","Lambda.SdkClientException"],"IntervalSeconds":2,"MaxAttempts":6,"BackoffRate":2}],"Type":"Task","OutputPath":"$.Payload","Resource":"arn:'
            - Ref: AWS::Partition
            - :states:::lambda:invoke","Parameters":{"FunctionName":"
            - Fn::GetAtt:
                - QCLifeScienceBatchAggResultLambda344DF202
                - Arn
            - '","Payload.$":"$"}},"Succeed":{"Type":"Succeed"}},"TimeoutSeconds":7200}'
    DependsOn:
      - QCLifeScienceBatchQCBatchStateMachineRoleDefaultPolicy089B9946
      - QCLifeScienceBatchQCBatchStateMachineRole3862921F
    Metadata:
      aws:cdk:path: QCStack-main/QCLifeScienceBatch/QCBatchStateMachine/Resource
  CDKMetadata:
    Type: AWS::CDK::Metadata
    Properties:
      Analytics: v2:deflate64:H4sIAAAAAAAA/2VT227bMAz9lr0r6tICG/a2Jr0gW7Z5ydB3WaZT1ZYYSFSCwPC/j5LjON2edEQeUocXzeX89ov8+OGrOoaZrpqbTqMH2W1J6UYsa1corywQeLFEF8hHTWIZA6HdQMDoNSTWhN+5Co8HU3HsfQhAnHNn3C7xf0XaRxLXKTh9Zcig60XS0oU72S2iboCS94yGo8DW6NNkPt+Hy0IF6IVRVnYbbAd16ZyCJrTiipTLOmvTclhQO7CqAS87dv9EghKxGWlrU4M+6RZYa21yIf9SetHYILvvkPPz0QvQt7J72etkeCmWooglv7+NpRtKm9AGI8EfVQ6qB/tk4x6iNiq16EJO4HFVZCWKnhXBUZ1E4c2B4ZR45XiAjEfCoOR8uyee9asFR+KpxeMac2Ej3IKO3tDp2WPcZ1nXhl60uON6mXkhjLgXpSL9yp1Ey8OGR3cwHl1+KM/7P+s3LH9HiLmqC2bwALVxZiz8nSG1N0ieBynjwF8xQfuZSmsX5APyYviV5eHmRUw+uYE9BkPoT2ljRCDY19HpFBtmpELDZS1SAdxGa4hfFWtly0qt3AGbtCvXEbJLH6VtoRXbqDVAJXjdCX5wa1lYbtzVnfuWc8nu6Zwh9/yMOffdqD0L7nvhsAL5Fm4O80/yM3/Yt2DMzEdHxoLcDOdfLXNkss0DAAA=
    Metadata:
      aws:cdk:path: QCStack-main/CDKMetadata/Default
    Condition: CDKMetadataAvailable
Outputs:
  notebookName:
    Description: Notebook name
    Value:
      Fn::GetAtt:
        - GCRQCLifeScienceNotebook
        - NotebookInstanceName
  bucketName:
    Description: S3 bucket name
    Value:
      Ref: amazonbraketC6E30921
  notebookUrl:
    Description: Notebook URL
    Value:
      Fn::Join:
        - ""
        - - https://console.aws.amazon.com/sagemaker/home?region=
          - Ref: AWS::Region
          - "#/notebook-instances/openNotebook/"
          - Fn::GetAtt:
              - GCRQCLifeScienceNotebook
              - NotebookInstanceName
          - ?view=classic
  QCLifeScienceBatchjobQueue157F2526:
    Description: Batch Job Queue Name
    Value:
      Ref: QCLifeScienceBatchJobQueueADBFEFBD
  QCLifeScienceBatchstateMachine7DA4A0AB:
    Description: State Machine Name
    Value:
      Fn::GetAtt:
        - QCLifeScienceBatchQCBatchStateMachineBC193BA3
        - Name
  QCLifeScienceBatchstateMachineURL4E653105:
    Description: State Machine URL
    Value:
      Fn::Join:
        - ""
        - - https://console.aws.amazon.com/states/home?region=
          - Ref: AWS::Region
          - "#/statemachines/view/"
          - Ref: QCLifeScienceBatchQCBatchStateMachineBC193BA3
Conditions:
  CDKMetadataAvailable:
    Fn::Or:
      - Fn::Or:
          - Fn::Equals:
              - Ref: AWS::Region
              - af-south-1
          - Fn::Equals:
              - Ref: AWS::Region
              - ap-east-1
          - Fn::Equals:
              - Ref: AWS::Region
              - ap-northeast-1
          - Fn::Equals:
              - Ref: AWS::Region
              - ap-northeast-2
          - Fn::Equals:
              - Ref: AWS::Region
              - ap-south-1
          - Fn::Equals:
              - Ref: AWS::Region
              - ap-southeast-1
          - Fn::Equals:
              - Ref: AWS::Region
              - ap-southeast-2
          - Fn::Equals:
              - Ref: AWS::Region
              - ca-central-1
          - Fn::Equals:
              - Ref: AWS::Region
              - cn-north-1
          - Fn::Equals:
              - Ref: AWS::Region
              - cn-northwest-1
      - Fn::Or:
          - Fn::Equals:
              - Ref: AWS::Region
              - eu-central-1
          - Fn::Equals:
              - Ref: AWS::Region
              - eu-north-1
          - Fn::Equals:
              - Ref: AWS::Region
              - eu-south-1
          - Fn::Equals:
              - Ref: AWS::Region
              - eu-west-1
          - Fn::Equals:
              - Ref: AWS::Region
              - eu-west-2
          - Fn::Equals:
              - Ref: AWS::Region
              - eu-west-3
          - Fn::Equals:
              - Ref: AWS::Region
              - me-south-1
          - Fn::Equals:
              - Ref: AWS::Region
              - sa-east-1
          - Fn::Equals:
              - Ref: AWS::Region
              - us-east-1
          - Fn::Equals:
              - Ref: AWS::Region
              - us-east-2
      - Fn::Or:
          - Fn::Equals:
              - Ref: AWS::Region
              - us-west-1
          - Fn::Equals:
              - Ref: AWS::Region
              - us-west-2

